<form class="{{cssClass}} sheet-body" autocomplete="off">

		{{!-- Sheet Header --}}
		<header class="head">
		
			<div class="char-title">
				<img class="portrait" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" data-tooltip="{{actor.name}}" height="100" width="100"/>
				
				<div class="banner-text">
					<div class="pc-name">{{!--
						--}}<label class="name autosize{{#if actor.name}} visible{{/if}}" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Name'}}">{{!--
							--}}<input id="name_input" class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DND4E.Name'}}" onClick="this.select();" tabindex=0 />{{!--
							--}}<h1 id="name_display" class="ruler">{{actor.name}}</h1>{{!--
						--}}</label>{{!--
					--}}</div>
			
					<div class="summary">
					
						<label class="heritage autosize{{#if system.details.race}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'Fox4e.Heritage'}}">{{!--
							--}}<input id="heritage_input" class="heritage" name="system.details.race" type="text" value="{{#if system.details.race}}{{system.details.race}}{{/if}}" placeholder="{{localize 'Fox4e.Heritage'}}" onClick="this.select();" tabindex="0" />{{!--
							--}}<span id="heritage_display" class="ruler display">{{!--
							--}}{{#if system.details.race}}
								{{system.details.race}}
							{{else}}
								{{localize 'Fox4e.Heritage'}}
							{{/if}}{{!--
							--}}</span>{{!--
						--}}</label>
						
						<label class="class autosize{{#if system.details.class}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Class'}}">{{!--
							--}}<input id="class_input" class="class" name="system.details.class" type="text" value="{{#if system.details.class}}{{system.details.class}}{{/if}}" placeholder="{{localize 'DND4E.Class'}}" onClick="this.select();" tabindex="0" />{{!--
							--}}<span id="class_display" class="ruler display">{{!--
							--}}{{#if system.details.class}}
								{{system.details.class}}
							{{else}}
								{{localize 'DND4E.Class'}}
							{{/if}}{{!--
							--}}</span>{{!--
						--}}</label>{{!--
						
						--}}<label class="paragon hiding autosize{{#if system.details.paragon}} visible{{/if}}{{#if (gt system.details.level 10)}} required{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Paragon'}}">{{!--
							--}}<input id="paragon_input" class="paragon" name="system.details.paragon" type="text" value="{{#if system.details.paragon}}{{system.details.paragon}}{{/if}}" placeholder="{{localize 'DND4E.Paragon'}}" onClick="this.select();" tabindex="0" />{{!--
							--}}<span id="paragon_display" class="ruler display">{{!--
							--}}{{#if system.details.paragon}}
								{{system.details.paragon}}
							{{else}}
								{{localize 'DND4E.Paragon'}}
							{{/if}}{{!--
							--}}</span>{{!--
						--}}</label>{{!--
						
						--}}<label class="epic hiding autosize{{#if system.details.epic}} visible{{/if}}{{#if (gt system.details.level 20)}} required{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Epic'}}">{{!--
							--}}<input id="epic_input" class="epic" name="system.details.epic" type="text" value="{{#if system.details.epic}}{{system.details.epic}}{{/if}}" placeholder="{{localize 'DND4E.Epic'}}" onClick="this.select();" tabindex="0" />{{!--
							--}}<span id="epic_display" class="ruler display">{{!--
							--}}{{#if system.details.epic}}
								{{system.details.epic}}
							{{else}}
								{{localize 'DND4E.Epic'}}
							{{/if}}{{!--
							--}}</span>{{!--
						--}}</label>						
					
					</div>
				</div>
				
				<div class="summary-exp">
					<span class="label">{{localize 'DND4E.Exp'}}</span>&thinsp;{{!--
					--}}<label class="xp autosize visible" for="system.details.exp" data-tooltip="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4E.Exp'}}">{{!--
						--}}<input id="pc_xp_input" type="text" class="number" name="system.details.exp" value="{{system.details.exp}}" data-dtype="Number" onClick="this.select();" />{{!--
						--}}<span id="pc_xp_display" class="ruler">{{commfy system.details.exp}}</span>{{!--
					--}}</label>
				</div>
				
				<div class="summary-level">
					<span class="level label">{{localize 'DND4E.Level'}}</span>
					<label class="level autosize{{#if system.details.level}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Level'}}">{{!--
						--}}<input id="level_input" class="level number" name="system.details.level" type="text" value="{{#if system.details.level}}{{system.details.level}}{{/if}}" placeholder="{{localize 'DND4E.Level'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="level_display" class="ruler display">{{!--
						--}}{{#if system.details.level}}
							{{system.details.level}}
						{{else}}
							{{localize 'DND4E.Level'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>
				</div>
				
			</div>{{!-- End Title Banner --}}

		</header>
		
		{{!-- Vitals --}}
		<section class="vitals flexrow">

			{{!-- Defences --}}
			<div class="attribute-defenses flexcol">
				<h2 class="attribute-name">{{localize 'DND4E.Defences'}}</h2>
				<div class="attribute-value flexrow">
					{{#each system.defences as | def d|}}
					<div class="attribute-box flexcol" data-defence="{{d}}">
						<span class="attribute-name def-name rollable label below" data-tooltip="{{localize 'DND4E.Roll'}} {{def.title}} {{localize 'DND4E.Save'}}">{{def.label}}</span>
						<strong class="attribute-value defence-bonus rollable" data-tooltip="{{localize 'DND4E.BonusesTo'}} {{def.title}}">{{def.value}}</strong>
					</div>
					{{/each}}
				</div>
				
				{{!-- Saves --}}
				<div class="section--saves">
					<div class="flexrow">
						<img class="roll-save rollable" src="icons/svg/d20-grey.svg" width="20" height="20" id="saving-throw-roll" data-tooltip="{{localize 'DND4E.SavingThrow'}}"/>&thinsp;{{!--
						--}}<label class="roll-save-bonus rollable" data-tooltip="{{localize 'DND4E.SavingThrowBonus'}}" for="saving-throw-roll">{{localize 'DND4E.ActionSave'}}</label>
					</div>
					<div class="flexrow">
						<img class="death-save rollable" src="icons/svg/d20-grey.svg" width="20" height="20" id="death-save-roll" data-tooltip="{{localize 'DND4E.DeathSavingThrow'}}"/>&thinsp;{{!--
						--}}<label class="death-save-bonus rollable" data-tooltip="{{localize 'DND4E.DeathSavingThrowBonus'}}" for="death-save-roll">{{localize 'DND4E.Death'}}</label>
						<input class="number" type="text" name="system.details.deathsavefail" value="{{system.details.deathsavefail}}" data-tooltip="Death Save Failures"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				
			</div>
			
			<hr />
			
			{{!-- Health --}}
			<div class="attribute-health flexcol">
				<h2 class="attribute-name">{{localize 'DND4E.Health'}}</h2>
				<div class="flexrow">
					<div class="health-main flexcol">
					
						<div class="section-hp">
							<div class="tracking-hp">
								<label class="attribute-name health-option rollable label left" for="system.attributes.hp.value" data-tooltip="{{localize 'Fox4e.TipBonus'}} {{localize 'DND4E.HP'}}">{{localize 'DND4E.HPShort'}}</label>&thinsp;{{!--
								--}}<input class="number{{#if system.details.isBloodied}} bloodied{{/if}}" type="text" name="system.attributes.hp.value" id="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-tooltip="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4E.HPCurrent'}}" placeholder="Current" data-dtype="Number" onClick="this.select();"/>&thinsp;{{!--
								--}}<span class="sep">/</span>&thinsp;{{!--
								--}}<input class="number" type="text" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" data-tooltip="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4E.HPTotal'}}" placeholder="Total" data-dtype="Number" onClick="this.select();"/>
							</div>
							<div class="temp-hp">
								<label class="attribute-subname label left"  for="system.attributes.temphp.value">{{localize 'DND4E.TempHP'}}</label>&thinsp;{{!--
								--}}<input class="number" type="text" name="system.attributes.temphp.value" id="system.attributes.temphp.value" value="{{system.attributes.temphp.value}}" data-tooltip="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4E.TempHPTip'}}"  placeholder=0 data-dtype="Number" onClick="this.select();"/>
							</div>
						</div>
						
						<div class="section-surges">
							<div class="flexrow">
								<div class="tracking-surges attribute-box flexrow">
									<label class="surge-bonus rollable label below" data-tooltip="{{localize 'Fox4e.TipBonus'}} {{localize 'DND4E.SurgeValue'}}" for="system.details.surgeValue">{{localize 'DND4E.SurgeValue'}}</label>&thinsp;{{!--
									--}}<strong class="attribute-value surge-bonus rollable" data-tooltip="{{localize 'DND4E.SurgeValue'}}" id="system.details.surgeValue">{{system.details.surgeValue}}</strong>
								</div>
								<div class="tracking-2w attribute-box flexrow">
									<label class="attribute-display-check secondwind-bonus rollable label right" for="system.details.secondwind" data-tooltip="{{localize 'Fox4e.TipBonus'}} {{localize 'DND4E.SecondWindBonus'}}">{{localize 'DND4E.SecondWind'}}</label>&thinsp;{{!--
									--}}<input type="checkbox" name="system.details.secondwind" id="system.details.secondwind" data-dtype="Boolean" {{checked system.details.secondwind}} data-tooltip="{{localize 'DND4E.SecondWindUsed'}}"/>
								</div>
							</div>
							
							<div class="attribute-value surges flexrow">
								<span class="attribute-display envimental-loss-bonus rollable label left" data-tooltip="{{localize 'Fox4e.TipBonus'}} {{localize 'DND4E.SurgeCur'}}">{{localize 'DND4E.HealingSurgesShort'}}</span>&thinsp;{{!--
								--}}<span class="attribute-sub attribute-input flexcol">
									<input class="number" type="text" id="system.details.surges.value" name="system.details.surges.value" value="{{system.details.surges.value}}" data-tooltip="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4E.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
								</span>&thinsp;{{!--
								--}}<span class="sep">/</span>&thinsp;{{!--
								--}}<span class="attribute-sub attribute-input flexcol">
									<input class="number" type="text" name="system.details.surges.max" id="system.details.surges.max" value="{{system.details.surges.max}}" data-tooltip="{{localize 'DND4E.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
								</span>
							</div>
						
						</div>

					</div>
					
					<div class="health-sidebar rest flexcol">
						<a class="rest heal-menu button" data-tooltip="{{localize 'DND4E.HealingMenu'}}"><span class="label">{{localize "DND4E.HealingMenu"}}</span><img class="button-icon" src="modules/fox-4e-styling/images/hp_health.svg" height="25" width="25" /></a> 
						<a class="rest second-wind button" data-tooltip="{{localize 'DND4E.SecondWind'}}"><span class="label">{{localize "DND4E.SecondWind"}}</span><img class="button-icon" src="modules/fox-4e-styling/images/hp_sw.svg" height="25" width="25" /></a> 
						<a class="rest short-rest button" data-tooltip="{{localize 'DND4E.RestShort'}}"><span class="label">{{ localize "DND4E.RestS" }}</span><img class="button-icon" src="modules/fox-4e-styling/images/hp_rest-short.svg" height="25" width="25" /></a> 
						<a class="rest long-rest button" data-tooltip="{{localize 'DND4E.RestLong'}}"><span class="label">{{ localize "DND4E.RestL" }}</span><img class="button-icon" src="modules/fox-4e-styling/images/hp_rest-long.svg" height="25" width="25" /></a>
					</div>
				</div>
			</div>
			
			<hr />
			
			{{!-- Readiness --}}
			<div class="section--passives flexcol">
				
				{{!-- Movement --}}
				<div class="section--movement flexcol">
					<h2>{{localize 'DND4E.Speed'}}</h2>
					<div class="attribute-box flexcol initiative">
						<label class="rollInitiative rollable label below">{{localize 'DND4E.Initiative'}}</label>
						<strong class="init-bonus rollable attribute-value" data-tooltip="{{localize 'DND4E.InitiativeScore'}}">{{numberFormat system.attributes.init.value decimals=0 sign=true }}</strong>
					</div>
					<div class="attribute-box flexcol speed" data-tooltip="{{moveTitle}}">
						<label class="movement-dialog rollable label below">{{localize 'DND4E.Speed'}}</label>
						<strong class="movement-dialog rollable attribute-value">{{numberFormat system.movement.walk.value}}</strong>
					</div>
				</div>
				
				{{!-- Senses --}}
				<div class="section--passives flexcol">
					<h2>{{localize 'DND4E.Senses'}}</h2>
					<div>
						<a class="trait-selector-senses" data-options="special" data-target="system.senses.special">
							<span class="placeholder">{{ localize "DND4E.SpecialSenses" }}b<i class="fas fa-edit"></i></span>
							<ul class="traits-list">
							{{#each system.senses.special.selected as |v k|}}
								<li class="tag {{k}}">{{v}}</li>
							{{/each}}
							</ul>
						</a>
					</div>
					<div class="attribute-box flexcol" data-passive="pasprc">
						<label class="passive-message rollable label below">{{localize 'DND4E.PasPer'}}</label>
						<strong class="passive-bonus rollable">{{system.passive.pasprc.value}}</strong>
					</div>
					<div class="attribute-box flexcol" data-passive="pasins">
						<label class="passive-message rollable label below">{{localize 'DND4E.PasIns'}}</label>
						<strong class="passive-bonus rollable">{{system.passive.pasins.value}}</strong>
					</div>
				</div>
				
			</div>{{!-- Readiness --}}
			
			<hr />
			
			{{!-- Action Points --}}
			<div class="attribute-action flexcol">
				<h2 class="attribute-name">{{localize 'DND4E.ActionPoints'}}</h2>
				<div class="attribute-sub">
					<label class="attribute-display label action-point-extra rollable left" for="system.actionpoints.value" data-tooltip="{{localize 'DND4E.ActionPointRiders'}} {{localize 'Fox4e.TipBonus'}}">{{localize 'DND4E.ActionPoints'}}</label>&thinsp;{{!--
					--}}<input class="number" type="text" name="system.actionpoints.value" id="system.actionpoints.value" value="{{system.actionpoints.value}}" data-tooltip="{{localize 'DND4E.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
				</div>
				<div class="attribute-sub">
					<label class="attribute-display-check label left" for="system.actionpoints.encounteruse" data-tooltip="{{localize 'DND4E.ActionPointUsed'}}">{{localize 'DND4E.Used'}}</label>&thinsp;{{!--
					--}}<input type="checkbox" type="checkbox" name="system.actionpoints.encounteruse" id="system.actionpoints.encounteruse" data-dtype="Boolean" {{checked system.actionpoints.encounteruse}} data-tooltip="Action Point used this encounter?"/>
				</div>
				<div class="milestones">
					<label class="label" for="system.magicItemUse.milestone">Milestones</label>&thinsp;{{!--
					--}}<input class="number" name="system.magicItemUse.milestone" id="system.magicItemUse.milestone" value="{{system.magicItemUse.milestone}}" data-tooltip="{{localize 'DND4E.Milestones'}}"  placeholder="0" data-dtype="Number" onClick="this.select();">
				</div>
				<a class="rest action-point button" data-tooltip="{{localize 'DND4E.ActionPointUse'}}">{{localize "DND4E.ActionPointUse"}}</a>
			</div>
			
		</section>{{!-- End Vitals --}}

	<section class="container container--bottom flexrow">
		<section class="section section--sidebar">
			{{!-- Ability --}}
			<section class="section section--abilities">
				<div class="ability-header">
					<label>{{localize 'DND4E.MOD'}}</label>
					
					{{#unless system.halfLevelOptions}}
					<label>+{{localize 'DND4E.HalfLVL'}}</label>
					{{/unless}}

				</div>

				{{#if system.halfLevelOptions}}
					{{#each system.abilities as | ability a|}}
					<div class="ability--score flexrow" data-ability="{{a}}">
						<input class="ability-score" name="system.abilities.{{a}}.value" type="text" data-dtype="Number" value="{{ability.value}}" onfocus="this.select()" placeholder="10"/>
						<label class="ability-name rollable" data-tooltip="{{ability.label }}">{{ability.label}}</label>
						<label class="attribute-display ability-mod-half" style="max-width:35px; border-left: 1px solid;" data-tooltip="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</label>
					</div>
					{{/each}}
				{{else}}
					{{#each system.abilities as | ability a|}}
					<div class="ability--score flexrow" data-ability="{{a}}">
						<input class="ability-score" name="system.abilities.{{a}}.value" type="text" data-dtype="Number" value="{{ability.value}}" onfocus="this.select()" placeholder="10"/>
						<label class="ability-name rollable" data-tooltip="{{ability.label }}">{{ability.label}}</label>
						<label class="attribute-display ability-mod" data-tooltip="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</label>
						<label class="attribute-display ability-mod-half" data-tooltip="{{ability.label }}">{{numberFormat ability.modHalf decimals=0 sign=true}}</label>
					</div>
					{{/each}}
				{{/if}}
				
			</section>
			{{!-- Skills --}}
			<section class="section section--skills">
				{{#each system.skills as |skill s|}}
				<div class="skill--block flexrow" data-skill="{{s}}">
					<a class="training-toggle skill-training" data-tooltip="{{skill.hover}}">{{{skill.icon}}}</a>
					<h4 class="skill-name rollable">{{skill.label}}</h4>
					<input type="hidden" name="system.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
					<label class="skill-mod skill-bonus rollable">{{numberFormat skill.total decimals=0 sign=true }}</label>
				</div>
				{{/each}}
			</section>

			<a class="custom-roll-descriptions" style="font-size: 11.5px;" data-tooltip="Change custom descriptions for Skill and Ability roll checks.">Edit Skill & Ability Custom Descriptions.</a>
		</section>

		<section class="section section--main flexcol" style="height: 100%;">
			<section class="section section--utilities flexrow">
				
			</section>

			<section class="section section--tabs flexshrink">

				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<a class="item" data-tab="biography">{{localize 'DND4E.Biography'}}</a>
					<a class="item" data-tab="details">{{localize 'DND4E.Details'}}</a>
					<a class="item " data-tab="powers">{{localize 'DND4E.Powers'}}</a>
					<a class="item" data-tab="inventory">{{localize 'DND4E.Inventory'}}</a>
					<a class="item" data-tab="features">{{localize 'DND4E.Feats'}}</a>
					<a class="item" data-tab="effects">{{localize 'DND4E.Effects'}}</a>
				</nav>
			</section>

			{{!-- Sheet Body --}}
			<section class="sheet-body section--tabs-content">

				{{!-- Biography Tab --}}
				<div class="tab biography" data-group="primary" data-tab="biography">
					{{> "systems/dnd4e/templates/actors/parts/actor-biography.html" sections=biography}}
				</div>

				{{!-- Details Tab --}}
				<div class="tab details" data-group="primary" data-tab="details">
					{{> "systems/dnd4e/templates/actors/parts/actor-details.html" sections=details}}
				</div>
		
				{{!-- Owned Inventory Tab --}}
				<div class="tab inventory" data-group="primary" data-tab="inventory">
					{{> "systems/dnd4e/templates/actors/parts/actor-inventory.html" sections=inventory}}
				</div>
		
				{{!-- Feat Tab --}}
				<div class="tab features" data-group="primary" data-tab="features">
					{{> "systems/dnd4e/templates/actors/parts/actor-features.html" sections=features}}
				</div>
				
				{{!-- Powers Tab --}}
				<div class="tab powers " data-group="primary" data-tab="powers">
					{{> "systems/dnd4e/templates/actors/parts/actor-powers.html" sections=powers}}
				</div>
		
				{{!-- Effects Tab --}}
				<div class="tab effects flexcol" data-group="primary" data-tab="effects">
					{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
				</div>
			</section>
		</section>
	</section>

</form>
