<form class="{{cssClass}} sheet-body" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="head flexrow">
	
		<img class="portrait flexrow left" src="{{actor.img}}" title="{{localize 'Fox4e.TipSheetImage'}}" data-edit="img" height="64" width="64" />
		
		<div class="flexcol header-text">
		
			<div class="flexrow">
				<div class="creature-name">{{!--
					--}}<label class="name autosize" title="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4EBETA.NameNPC'}}">{{!--
						--}}<input id="npc_name_input" class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DND4EBETA.NameNPC'}}" onClick="this.select();" tabindex=0 />{{!--
						--}}<span id="npc_name_display" class="ruler">{{actor.name}}</span>{{!--
					--}}</label>{{!--
				--}}</div>
				
				<div class="basics">
				
					<span class="label">{{localize 'DND4EBETA.Level'}}&thinsp;</span>{{!--
					--}}<label class="level autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.Level'}}" for="system.details.level">{{!--
						--}}<input type="text" class="number level" name="system.details.level" value="{{system.details.level}}" data-dtype="Number" onClick="this.select();" tabindex=0 />{{!--
						--}}<span class="ruler">{{system.details.level}}</span>{{!--
					--}}</label>
					
					<label for="system.details.role.secondary" class="role secondary cover{{#unless (eq system.details.role.secondary 'standard')}} visible{{/unless}}" title="{{localize 'Fox4e.TipRoleSecondary'}}">
						<select class="covered" name="system.details.role.secondary" tabindex=0>
							{{#select system.details.role.secondary}}
							{{#each config.creatureRoleSecond as |label role|}}
								<option value="{{role}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
						<span class="display"> {{lookup config.creatureRoleSecond system.details.role.secondary}} </span>{{!--
					--}}</label>
					
					<label for="system.details.role.primary" class="role primary cover" title="{{localize 'Fox4e.TipRolePrimary'}}">
						<select class="covered" name="system.details.role.primary" tabindex=0>
							{{#select system.details.role.primary}}
							{{#each config.creatureRole as |label role|}}
								<option value="{{role}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select><span class="display">{{lookup config.creatureRole system.details.role.primary}}</a>
					</label>
					
					<label for="system.details.role.leader" class="leader cover {{system.details.role.leader}}" title="{{localize 'Fox4e.TipLeaderStatus'}}">{{!--
						--}}<input class="covered" type="checkbox" name="system.details.role.leader" data-dtype="Boolean" {{checked system.details.role.leader}} tabindex=0 />{{!--
						--}}<span class="display">{{!--
							--}}{{#if (eq system.details.role.leader true)}}({{/if}}{{!--
							--}}{{localize 'DND4EBETA.CreatureRoleLeader'}}{{!--
							--}}{{#if (eq system.details.role.leader true)}}{{!--
								--}}){{!--
							--}}{{else}}{{!--
								--}}?{{!--
							--}}{{/if}}{{!--
						--}}</span>
					</label>
				</div>
				
			</div>
			
			<div class="flexrow">
			
				<div class="categories" tabindex=0>{{!--
					--}}<label for="system.details.size" class="size cover {{system.details.size}}" title="{{localize 'Fox4e.TipCreatureSize'}}">{{!--
						--}}<select class="size covered" name="system.details.size">
						{{#select system.details.size}}
						{{#each config.actorSizes as |label size|}}
							<option value="{{size}}">{{label}}</option>
						{{/each}}
						{{/select}}
					</select>{{lookup config.actorSizes system.details.size}}{{!--
					--}}</label>
					
					<label for="system.details.origin" class="origin cover {{system.details.origin}}" title="{{localize 'Fox4e.TipCreatureOrigin'}}">{{!--
							--}}<select class="origin covered" name="system.details.origin">
							{{#select system.details.origin}}
							{{#each config.creatureOrigin as |label origin|}}
								<option value="{{origin}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>{{lookup config.creatureOrigin system.details.origin}}{{!--
					--}}</label>
					
					<label for="system.details.type" class="type cover {{system.details.type}}" title="{{localize 'Fox4e.TipCreatureType'}}">{{!--
						--}}<select class="type covered" name="system.details.type">
						{{#select system.details.type}}
						{{#each config.creatureType as |label type|}}
							<option value="{{type}}">{{label}}</option>
						{{/each}}
						{{/select}}
					</select>{{lookup config.creatureType system.details.type}}{{!--
					--}}</label>
					
					<label class="subtypes autosize{{#if system.details.other}} visible{{/if}}" tabindex="0" title="{{localize 'Fox4e.TipEnterText'}} {{localize 'Fox4e.CreatureSubtypes'}}">{{!--
						--}}<input id="npc_subtype_input" class="subtypes" name="system.details.other" type="text" value="{{#if system.details.other}}{{system.details.other}}{{/if}}" placeholder="{{localize 'DND4EBETA.PowerSubtype'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="npc_subtype_display" class="ruler display">{{!--
						--}}{{#if system.details.other}}
							({{system.details.other}})
						{{else}}
							{{localize 'Fox4e.CreatureSubtypes'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>{{!--
				--}}</div>{{!-- [End] Categories	--}}
				
				<div class="xp-value">
					{{localize 'Fox4e.XP'}}
					<label class="xp autosize" for="system.details.exp" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'Fox4e.TipXPAward'}}">{{!--
						--}}<input id="npc_xp_input" type="text" class="number" name="system.details.exp" value="{{system.details.exp}}" data-dtype="Number" onClick="this.select();" />{{!--
						--}}<span id="npc_xp_display" class="ruler">{{commfy system.details.exp}}</span>{{!--
					--}}</label>
				</div>

			</div>
			
		</div>
		
	</header>

	<section class="vitals flexrow">
	
		<div class="left">
		
			<div class="hp" title="{{localize 'DND4EBETA.HP'}}">
			
				<span class="label">{{localize 'DND4EBETA.HPShort'}}</span>&thinsp;{{!--
				--}}<label class="tracking{{#if (ne system.details.role.secondary 'minion')}} minion{{/if}} autosize">{{!--
					--}}<input class="current number {{#if system.details.isBloodied}}bloodied{{/if}}" type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.HPCurrent'}}" placeholder="Current" data-dtype="Number" onClick="this.select();" />{{!--
					--}}<span class="ruler">{{system.attributes.hp.value}}</span>{{!--
				--}}</label>/{{!--
				
				--}}<label class="autosize">{{!--
					--}}<input class="max number" type="text" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.HPTotal'}}" placeholder="Total" data-dtype="Number" onClick="this.select();" />{{!--
					--}}<span class="ruler">{{system.attributes.hp.max}}</span>{{!--
				--}}</label>;
				
				{{#if (ne system.details.role.secondary "minion")}}{{!--				
					--}}<label class="bloodied" for="system.details.bloodied" title="{{localize 'DND4EBETA.HPBloodied'}} {{localize 'DND4EBETA.Value'}}">{{!--
						--}}<span class="label" title="{{localize 'DND4EBETA.HPBloodied'}}" name="system.details.bloodied">{{localize 'DND4EBETA.HPBloodied'}}</span>&thinsp;{{system.details.bloodied}}{{!--
					--}}</label>; {{!--
				--}}{{else}}{{!--
					--}}<span class="minion-reminder">{{localize 'Fox4e.TipMinionHP'}};</span>{{!--
				--}}{{/if}}
				
				<span class="label" title="{{localize 'DND4EBETA.TempHPTip'}}">{{localize 'DND4EBETA.Temp'}}</span>&thinsp;{{!--
				--}}<label class="temp autosize" for="system.attributes.temphp.value" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.TempHPTip'}}">{{!--
					--}}<input class="number" type="text" name="system.attributes.temphp.value" value="{{#if system.attributes.temphp.value}}{{system.attributes.temphp.value}}{{else}}0{{/if}}" data-dtype="Number" onClick="this.select();" />{{!--
					--}}<span class="ruler">{{!--
						--}}{{#if system.attributes.temphp.value}}{{!--
							--}}{{system.attributes.temphp.value}}{{!--
						--}}{{else}}{{!--
							--}}0{{!--
						--}}{{/if}}{{!--
					--}}</span>{{!--
				--}}</label>
				
			</div>{{!-- [Close] Hit Points --}}
		
			<div class="defences">
				
				<span class="ac" data-defence="ac">{{!--
					--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.ac.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.ac.base">{{!--
						--}}{{localize 'DND4EBETA.AC'}}{{!--
					--}}</span>&thinsp;{{!--
					--}}{{#if system.advancedCals}}{{!--
						--}}<span class="def-total" title="{{localize 'DND4EBETA.AC'}}&mdash;{{localize 'Fox4e.TipEditOnManage'}}">{{system.defences.ac.value}}</span>{{!--
					--}}{{else}}{{!--
						--}}<label class="ac autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AC'}}">{{!--
							--}}<input class="number" name="system.defences.ac.base" value="{{system.defences.ac.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
							--}}<span class="ruler">{{system.defences.ac.base}}</span>{{!--
						--}}</label>{{!--
					--}}{{/if}}{{!--
				--}}</span>,

				<span class="fort" data-defence="fort">{{!--
					--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.fort.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.fort.base">{{!--
						--}}{{localize 'Fox4e.DefFortitude'}}{{!--
					--}}</span>&thinsp;{{!--
					--}}{{#if system.advancedCals}}{{!--
						--}}<span class="def-total" title="{{system.defences.fort.title}}&mdash;{{localize 'Fox4e.TipEditOnManage'}}">{{system.defences.fort.value}}</span>{{!--
					--}}{{else}}{{!--
						--}}<label class="fort autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'Fox4e.DefFortitude'}}">{{!--
							--}}<input class="number" name="system.defences.fort.base" value="{{system.defences.fort.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
							--}}<span class="ruler">{{system.defences.fort.base}}</span>{{!--
						--}}</label>{{!--
					--}}{{/if}}{{!--
				--}}</span>,
				
				<span class="ref" data-defence="ref">{{!--
					--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.ref.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.ref.base">{{!--
						--}}{{localize 'Fox4e.DefReflex'}}{{!--
					--}}</span>&thinsp;{{!--
					--}}{{#if system.advancedCals}}{{!--
						--}}<span class="def-total" title="{{system.defences.fort.title}}&mdash;{{localize 'Fox4e.TipEditOnManage'}}">{{system.defences.ref.value}}</span>{{!--
					--}}{{else}}{{!--
						--}}<label class="ref autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'Fox4e.DefReflex'}}">{{!--
							--}}<input class="number" name="system.defences.ref.base" value="{{system.defences.ref.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
							--}}<span class="ruler">{{system.defences.ref.base}}</span>{{!--
						--}}</label>{{!--
					--}}{{/if}}{{!--
				--}}</span>, 
				
				<span class="wil" data-defence="wil">{{!--
					--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.wil.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.wil.base">{{!--
						--}}{{localize 'DND4EBETA.DefWil'}}{{!--
					--}}</span>&thinsp;{{!--
					--}}{{#if system.advancedCals}}{{!--
						--}}<span class="def-total" title="{{localize 'Fox4e.Total'}} {{system.defences.wil.title}}">{{system.defences.wil.value}}</span>{{!--
					--}}{{else}}{{!--
					--}}<label class="wil autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.DefWil'}}">{{!--
							--}}<input class="number" name="system.defences.wil.base" value="{{system.defences.wil.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
							--}}<span class="ruler">{{system.defences.wil.base}}</span>{{!--
						--}}</label>{{!--
					--}}{{/if}}{{!--
				--}}</span>
				
			</div>{{!-- [Close] Defences	--}}
			
			<div class="movement movement-dialog rollable" title="{{localize 'Fox4e.TipMoveConfig'}}">
				<span>{{!--
					--}}<span class="label">{{localize 'DND4EBETA.Speed'}}</span>
					{{numberFormat system.movement.walk.value}}{{!--
					--}}{{#if system.movement.notes}} ({{system.movement.notes}}){{/if}}{{!--
				--}}</span>
				{{#each system.moveCustom as |v k|}}
					<span class="tag {{k}}">{{v}}</span>
				{{/each}}
			</div>

			<div class="dmg-taken-mods	{{!-- 
			Ugly mess to avoid space being given to empty line 
			
			--}}{{#if (laden system.untypedResistances.immunities)}}{{!--
				--}} spec-imm{{!--
			--}}{{else if (laden system.untypedResistances.resistances)}}{{!--
				--}} spec-res{{!--
			--}}{{else if (laden system.untypedResistances.vulnerabilities)}}{{!--
				--}} spec-vuln{{!--
			--}}{{/if}}{{!--
			
			--}}{{#each system.resistances as |res r|}}{{!--
				--}}{{#if (gt res.value 0)}}{{#unless res.immune}}{{!--
					--}} dmg-res{{!--
				--}}{{/unless}}{{/if}}{{!--
				--}}{{#if (lt res.value 0)}}{{#unless res.immune}}{{!--
					--}} dmg-vuln{{!--
				--}}{{/unless}}{{/if}}{{!--
				--}}{{#if res.immune}}{{!--
					--}} dmg-imm{{!--
				--}}{{/if}}{{!--
			--}}{{/each}}{{!--
			
			{{!-- End ugly mess 	
			--}}" title="{{localize 'Fox4e.TipResistances'}}&mdash;{{localize 'Fox4e.TipEditOnManage'}}">{{!--
			
				--}}<div class="immunities">{{!--
					--}}<span class="label">{{localize 'Fox4e.Immune'}} </span>{{!--

					--}}{{#if (laden system.untypedResistances.immunities)}}{{!--
						--}}{{#each system.untypedResistances.immunities as |imm|}}{{!--
								--}}<span class="immunity special">{{imm}}</span>{{!--
						--}}{{/each}}{{!--
					--}}{{/if}}{{!--
				
					--}}{{#each system.resistances as |res r|}}{{!--
						--}}{{#if res.immune}}{{!--
							--}}<span class="immunity damage">{{res.label}}{{!--
								--}}{{#each res.bonus as |bonus b|}}{{!--
									--}}{{#if bonus.note}}{{#if bonus.active}}{{!--
										--}} <span class="bonus-note">{{bonus.note}}</span>{{!--
									--}}{{/if}}{{/if}}{{!--
								--}}{{/each}}{{!--
							--}}</span>{{!--
						--}}{{/if}}{{!--
					--}}{{/each}}{{!--
					
				--}}</div>{{!-- [Close] Immunities section --}}{{!--
					
				--}}<div class="resistances">{{!--
					--}}<span class="label">{{localize 'Fox4e.Resist'}} </span>{{!--
					
					--}}{{#each system.resistances as |res r|}}{{!--
						--}}{{#if (gt res.value 0)}}{{#unless res.immune}}{{!--
							--}}<span class="resistance damage">{{!--
								--}}<span class="res-mod">{{numberFormat res.value decimals=0}}&thinsp;</span>{{!--
								--}}<span class="res-name">{{res.label}}{{!--
									--}}{{#each res.bonus as |bonus b|}}{{!--
										--}}{{#if bonus.note}}{{#if bonus.active}}{{!--
											--}} <span class="bonus-note">{{bonus.note}}</span>{{!--
										--}}{{/if}}{{/if}}{{!--
									--}}{{/each}}{{!--
								--}}</span>{{!--
							--}}</span>{{!--
						--}}{{/unless}}{{/if}}{{!--
					--}}{{/each}}{{!--
				
					--}}{{#if (laden system.untypedResistances.resistances)}}{{!--
						--}}{{#each system.untypedResistances.resistances as |spec|}}{{!--
								--}}<span class="resistance special">{{spec}}</span>{{!--
						--}}{{/each}}{{!--
					--}}{{/if}}{{!--
					
				--}}</div>{{!-- [Close] Resistances section--}}{{!--
					
				--}}<div class="vulnerabilities">{{!--
					--}}<span class="label">{{localize 'Fox4e.Vulnerable'}} </span>{{!--
					
					--}}{{#each system.resistances as |res r|}}{{!--
						--}}{{#if (lt res.value 0)}}{{!--
							--}}{{#unless res.immune}}{{!--
								--}}<span class="vulnerability damage">{{!--
									--}}<span class="res-mod reverse">{{numberFormat res.value decimals=0}}&thinsp;</span>{{!--
									--}}<span class="res-name">{{res.label}}{{!--
										--}}{{#each res.bonus as |bonus b|}}{{!--
											--}}{{#if bonus.note}}{{#if bonus.active}}{{!--
												--}} <span class="bonus-note">{{bonus.note}}</span>{{!--
											--}}{{/if}}{{/if}}{{!--
										--}}{{/each}}{{!--
									--}}</span>{{!--
								--}}</span>{{!--
							--}}{{/unless}}{{!--
						--}}{{/if}}{{!--
					--}}{{/each}}{{!--
					
					--}}{{#if (laden system.untypedResistances.vulnerabilities)}}{{!--
						--}}{{#each system.untypedResistances.vulnerabilities as |vul|}}{{!--
								--}}<span class="vulnerability special">{{vul}}</span>{{!--
						--}}{{/each}}{{!--
					--}}{{/if}}{{!--
					
				--}}</div>{{!-- [Close] Vulnerabilities section--}}{{!-- 
				
			--}}</div>{{!-- [Close] incoming damage/condition mods --}}
				
			{{#unless (eq system.details.role.secondary "standard")}}{{#unless (eq system.details.role.secondary "minion")}}{{#unless (eq system.details.role.secondary "other")}}
			
			<div class="boss-resources">
				<label class="saves">
					<span class="label roll-save rollable" title="{{localize 'DND4EBETA.SavePrompt'}}">{{localize 'Fox4e.GroupSaves'}}</span>&thinsp;<span class="roll-save-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">+{{system.details.saves.value}}</span>
				</label>
				
				<span class="action-points">
					<span class="label rest action-point rollable" title="{{localize 'DND4EBETA.ActionPointUse'}}">{{localize "DND4EBETA.ActionPoints"}}</span>&thinsp;<label class="autosize" for="system.actionpoints.value"><input class="number" type="text" name="system.actionpoints.value" value="{{#if system.actionpoints.value}}{{system.actionpoints.value}}{{else}}0{{/if}}" title="{{localize 'DND4EBETA.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" /><span class="ruler">{{system.actionpoints.value}}</span></label>
				</span>
			</div>
			
			{{/unless}}{{/unless}}{{/unless}}
			
		</div>
		
		<div class="right">
		
			<div class="initiative">
				<span class="rollInitiative rollable label" title="{{localize 'Fox4e.TipInitRoll'}}">{{localize 'DND4EBETA.Initiative'}}</span>&thinsp;<span class="init-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">{{numberFormat system.attributes.init.value decimals=0 sign=true }}</span>
			</div>
				
			<div class="perception" data-skill="prc">
				<span class="skill-name rollable label" title="{{localize 'DND4EBETA.Roll'}} {{system.skills.prc.label}} {{localize 'Fox4e.Check'}}">{{system.skills.prc.label}}</span>&thinsp;<span class="skill-mod skill-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">{{numberFormat system.skills.prc.total decimals=0 sign=true }}</span>
			</div>

			<div class="senses">
				<a class="trait-selector-senses" data-options="special" data-target="system.senses.special" title="Edit {{localize 'DND4EBETA.SpecialSenses'}}">
					<span class="placeholder">{{localize "DND4EBETA.SpecialSenses"}} <i class="fas fa-edit"></i></span>
				{{#each system.senses.special.selected as |v k|}}
					<span class="tag {{k}}">{{stripsq v}}</span>
				{{/each}}
				</a>
			</div>
			
			{{#unless (eq system.details.role.secondary "solo")}}{{#unless (eq system.details.role.secondary "elite")}}
			
			<div class="saving-throw">
				<label class="saves">
					<span class="label roll-save rollable" title="{{localize 'DND4EBETA.SavePrompt'}}">{{localize 'DND4EBETA.SavingThrow'}}</span>
				</label>
			</div>
			
			{{/unless}}{{/unless}}
			
		</div>
		
	</section>

{{!-- Tabbed Sections --}}

	<section class="section tabs section--tabs">
		{{!-- Sheet Tab Navigation --}}
		<nav class="sheet-tabs tabs" data-group="primary">
			<a class="item" data-tab="main" title="{{localize 'Fox4e.TipMain'}}">{{localize 'Fox4e.TabMain'}}</a>
			<a class="item" data-tab="lore" title="{{localize 'Fox4e.TipLore'}}">{{localize 'Fox4e.TabLore'}}</a>
			<a class="item" data-tab="manage" title="{{localize 'Fox4e.TipManage'}}">{{localize 'Fox4e.TabManage'}}</a>
			<a class="item" data-tab="effects" title="{{localize 'Fox4e.TipEffects'}}">{{localize 'DND4EBETA.Effects'}}</a>
		</nav>
	</section>

	<section class="sheet-body section--tabs-content">
					
{{!-- Essentials Tab --}}
		<div class="tab main npc" data-group="primary" data-tab="main">
		
	{{!-- Traits Section --}}
			{{> "modules/fox-4e-styling/templates/parts/npc-traits.html" sections=features}}
			
	{{!-- Powers Section --}}
			{{> "modules/fox-4e-styling/templates/parts/npc-powers.html" sections=powers}}

	{{!-- Abilities & Skills Section --}}
	
			<section class="checks">
			
		{{!-- Skills --}}
				<div class="wrapper skills">
					<div class="items flexrow">
						{{#each system.skills as |skill s|}}
							{{#unless (eq s "prc")}}
								{{#if (skillWanted skill ../system.details.level ../system.halfLevelOptions)}}
								<span class="skill-block flexrow" data-skill="{{s}}">
									<span class="skill-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{skill.label}} {{localize 'Fox4e.Check'}}">{{skill.label}}&thinsp;{{numberFormat skill.total decimals=0 sign=true}}</span>
								</span> 
								{{/if}}
							{{/unless}}
						{{/each}}
						<span class="label">{{localize 'DND4EBETA.Skills'}}&thinsp;</span>
					</div>
				</div>

		{{!-- Ability Scores --}}
	
				<div class="wrapper ability-scores">
					<span class="ability-score str">
						<label class="autosize" data-ability="str">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.str.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilStr'}}</span> <input class="value number" name="system.abilities.str.value"data-dtype="Number" value="{{system.abilities.str.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilStr'}}" /><span class="ruler">{{system.abilities.str.value}}</span>
						</label> <span class="mod" title="{{system.abilities.str.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.str.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.str.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
					<span class="ability-score dex">
						<label class="autosize" data-ability="dex">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.dex.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilDex'}}</span> <input class="value number" name="system.abilities.dex.value"data-dtype="Number" value="{{system.abilities.dex.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilDex'}}" /><span class="ruler">{{system.abilities.dex.value}}</span>
						</label> <span class="mod" title="{{system.abilities.dex.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.dex.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.dex.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
					<span class="ability-score wis">
						<label class="autosize" data-ability="wis">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.wis.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilWis'}}</span> <input class="value number" name="system.abilities.wis.value"data-dtype="Number" value="{{system.abilities.wis.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilWis'}}" /><span class="ruler">{{system.abilities.wis.value}}</span>
						</label> <span class="mod" title="{{system.abilities.wis.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.wis.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.wis.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
					<span class="ability-score con">
						<label class="autosize" data-ability="con">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.con.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilCon'}}</span> <input class="value number" name="system.abilities.con.value"data-dtype="Number" value="{{system.abilities.con.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilCon'}}" /><span class="ruler">{{system.abilities.con.value}}</span>
						</label> <span class="mod" title="{{system.abilities.con.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.con.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.con.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
					<span class="ability-score int">
						<label class="autosize" data-ability="int">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.int.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilInt'}}</span> <input class="value number" name="system.abilities.int.value"data-dtype="Number" value="{{system.abilities.int.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilInt'}}" /><span class="ruler">{{system.abilities.int.value}}</span>
						</label> <span class="mod" title="{{system.abilities.int.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.int.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.int.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
					<span class="ability-score cha">
						<label class="autosize" data-ability="cha">
							<span class="label ability-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.abilities.cha.label}} {{localize 'Fox4e.Check'}}">{{localize 'DND4EBETA.AbilCha'}}</span> <input class="value number" name="system.abilities.cha.value"data-dtype="Number" value="{{system.abilities.cha.value}}" onfocus="this.select()" placeholder="10" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AbilCha'}}" /><span class="ruler">{{system.abilities.cha.value}}</span>
						</label> <span class="mod" title="{{system.abilities.cha.label}} {{localize 'Fox4e.Check'}} {{localize 'DND4EBETA.Modifier'}}">({{#if system.halfLevelOptions}}{{numberFormat system.abilities.cha.mod decimals=0 sign=true}}{{else}}{{numberFormat system.abilities.cha.modHalf decimals=0 sign=true}}{{/if}})</span>
					</span>
				</div>
				
			</section>
	

	{{!-- Social Section --}}	
			<section class="social flexrow">
				<div class="alignment">
					<span class="label">{{localize 'DND4EBETA.Alignment'}}</span>&thinsp;
					<label for="system.details.alignment" class="autosize"><input id="alignment" class="alignment-value" type="text" name="system.details.alignment" value="{{system.details.alignment}}" title="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4EBETA.Alignment'}}" placeholder="{{localize 'DND4EBETA.AlignmentUN'}}" /><span class="ruler">{{#if system.details.alignment}}{{system.details.alignment}}{{else}}{{localize 'DND4EBETA.AlignmentUN'}}{{/if}}</span></label>
				</div>
				<div class="languages">
					<h4 hidden class="attribute-name box-title label hidden">{{localize 'DND4EBETA.SpokenLanguage'}}</h4>
					<a class="trait-selector" data-options="spoken" data-target="system.languages.spoken" title="{{localize 'Fox4e.TipLanguageConfig'}}">
						<span class="label">{{localize 'DND4EBETA.Languages'}}</span> 
						<i class="fas fa-edit"></i>
					</a>
						<ul class="languages">
						{{#each system.languages.spoken.selected as |v k|}}
							<li class="tag {{k}}">{{v}}</li>
						{{/each}}
					</ul>
				</div>
				
			</section>
		
		{{!-- Other Section --}}	
			<section class="other">
			
				{{#if system.details.equipment}}
				<div class="equipment" title="{{localize 'DND4EBETA.ItemTypeEquipment'}}&mdash;{{localize 'Fox4e.TipEditOnManage'}}">
					<span class="label">{{localize 'DND4EBETA.ItemTypeEquipment'}}</span>&thinsp;
					<span class="equipment-value">{{system.details.equipment}}</span>
				</div>
				{{/if}}
			
			</section>
		
		</div>
		
{{!-- Description Tab --}}
		<div class="tab lore" data-group="primary" data-tab="lore">

			{{#if (hasLore features)}}
				<h2 class="subsection">{{localize 'Fox4e.TabInfo'}}</h2>
				<section class="lore">
					<ul class="item-list feature-list sublist">
						{{#each features as |section sid|}}
							{{#if (eq section.dataset.type "destinyFeats")}}
								{{#each section.items as |item iid|}}
								<li class="item" data-item-id="{{item._id}}">
									<div class="item-header flexrow">
										<div class="item-name rollable flexrow">
											<img class="item-image" src="{{item.img}}" height="16" width="16" title="{{localize 'Fox4e.TipSendChat'}}" />
											<h4 class="item-image name" title="{{localize 'Fox4e.TipSendChat'}}">{{#if item.system.level}}[{{item.system.level}}]{{/if}}{{item.name}}</h4>
										</div>
						
										{{#if section.columns}}
											{{#each section.columns}}
												<div class="item-detail {{css}}">
													{{#with (getProperty item property)}}
														{{#if ../editable}}
															<input type="text" value="{{this}}" placeholder="&mdash;"
																	data-dtype="{{../editable}}">
														{{else}}
															{{this}}
														{{/if}}
													{{/with}}
												</div>
											{{/each}}
										{{/if}}
										
						
										{{#if ../../owner}}
										<div class="item-controls flexrow">
											{{#if section.crewable}}
											<a class="item-control item-toggle {{item.toggleClass}}"
												title="{{item.toggleTitle}}">
												<i class="fas fa-sun"></i>
											</a>
											{{/if}}
											<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
											<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
										</div>
										{{/if}}
									</div>
									
								<div class="item-body">{{{item.system.description.value}}}</div>
						
								</li>
								{{/each}}
							{{/if}}
						{{/each}}
					</ul>
				</section>
			{{/if}}
			
			<section class="description">
				<h2 class="subsection">{{localize 'DND4EBETA.Description'}}</h2>		
				{{editor biographyHTML target="system.biography" button=true owner=owner editable=editable engine="prosemirror" rollData=rollData}}
			</section>
			
		</div>
		
			
{{!-- Manage Tab --}}
		<div class="tab manage" data-group="primary" data-tab="manage">

			<div class="columns flexrow{{#if system.advancedCals}} automath{{/if}}">
			
			{{!-- Basics Section --}}
				<section class="section basics-manage">
					<h2 class="subsection">{{localize 'Fox4e.TabBasics'}}</h2>
					
					<div class="basics-manage-body">
							
						<div class="automath">
							<span title="{{localize 'Fox4e.TipNPCMath'}}">{{localize 'Fox4e.NPCMaths'}}</span>&thinsp;<input type="checkbox" name="system.advancedCals" data-dtype="Boolean" {{checked system.advancedCals}} title="{{localize 'Fox4e.TipNPCMath'}}" />
						</div>
						
						{{#if system.advancedCals}}
							<div class="defs-manage flexrow">
								
								<span class="ac" data-defence="ac">{{!--
									--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.ac.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.ac.base">{{!--
										--}}{{system.defences.ac.label}}{{!--
									--}}</span>
									<span class="defence-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">{{system.defences.ac.value}}</span>
									<span class="automath">({{!--
										--}}<span class="base">{{localize 'Fox4e.Base'}}</span>
										<label class="ac autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.AC'}}">{{!--
											--}}<input class="number" name="system.defences.ac.base" value="{{system.defences.ac.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
											--}}<span class="ruler">{{system.defences.ac.base}}</span>{{!--
										--}}</label>{{!--
									--}})</span>{{!--
								--}}</span>

								<span class="fort" data-defence="fort">{{!--
									--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.fort.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.fort.base">{{!--
										--}}{{system.defences.fort.label}}{{!--
									--}}</span>
									<span class="def-total" title="{{localize 'Fox4e.Total'}} {{system.defences.fort.title}}">{{system.defences.fort.value}}</span>
									<span class="automath">({{!--
										--}}<span class="base">{{localize 'Fox4e.Base'}}</span>
										<label class="fort autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'Fox4e.DefFortitude'}}">{{!--
											--}}<input class="number" name="system.defences.fort.base" value="{{system.defences.fort.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
											--}}<span class="ruler">{{system.defences.fort.base}}</span>{{!--
										--}}</label>{{!--
									--}})</span>{{!--
								--}}</span>
								
								<span class="ref" data-defence="ref">{{!--
									--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.ref.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.ref.base">{{!--
										--}}{{system.defences.ref.label}}{{!--
									--}}</span>
									<span class="def-total" title="{{localize 'Fox4e.Total'}} {{system.defences.ref.title}}">{{system.defences.ref.value}}</span>
									<span class="automath">({{!--
										--}}<span class="base">{{localize 'Fox4e.Base'}}</span>
										<label class="ref autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'Fox4e.DefReflex'}}">{{!--
											--}}<input class="number" name="system.defences.ref.base" value="{{system.defences.ref.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
											--}}<span class="ruler">{{system.defences.ref.base}}</span>{{!--
										--}}</label>{{!--
									--}})</span>{{!--
								--}}</span> 
								
								<span class="wil" data-defence="wil">{{!--
									--}}<span class="label attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{system.defences.wil.title}} {{localize 'DND4EBETA.Save'}}" for="system.defences.wil.base">{{!--
										--}}{{system.defences.wil.label}}{{!--
									--}}</span>
									<span class="def-total" title="{{localize 'Fox4e.Total'}} {{system.defences.wil.title}}">{{system.defences.wil.value}}</span>
									<span class="automath">({{!--
										--}}<span class="base">{{localize 'Fox4e.Base'}}</span>
										<label class="wil autosize" title="{{localize 'Fox4e.TipEnterNum'}} {{localize 'DND4EBETA.DefWil'}}">{{!--
											--}}<input class="number" name="system.defences.wil.base" value="{{system.defences.wil.base}}" data-dtype="Number" onfocus="this.select()" />{{!--
											--}}<span class="ruler">{{system.defences.wil.base}}</span>{{!--
										--}}</label>{{!--
									--}})</span>{{!--
								--}}</span>
								
							</div>{{!-- [Close] Defences	--}}
														
						{{/if}}{{!-- [Close] If Advanced Calcs	--}}
					</div>{{!-- [Close] Basics Body	--}}		
					
					<div class="adds-body">
						<button class="item-control item-create button" title="{{localize 'DND4EBETA.Add'}} {{localize 'Fox4e.Trait'}}" data-type="raceFeats" type="button">
							<i class="fas fa-plus"></i> {{localize 'Fox4e.TipAddNew'}} {{localize 'Fox4e.Trait'}}
						</button>
						<button class="item-control power-create button" title="{{localize 'DND4EBETA.Add'}} {{localize 'Fox4e.Power'}}" data-type="standard" type="button">
							<i class="fas fa-plus"></i> {{localize 'Fox4e.TipAddNew'}} {{localize 'Fox4e.Power'}}
						</button>
						<button class="item-import button" title="Create Power" data-item-type="power" data-type="power" type="button">
							<i class="fas fa-atlas"></i> {{localize "DND4EBETA.ImportPowers"}}
						</button>
						
						<div class="equipment">
							<span class="label">{{localize 'DND4EBETA.ItemTypeEquipment'}}</span>&thinsp;
							<label for="system.details.equipment"><input id="equipment" class="equipment-value" type="text" name="system.details.equipment" value="{{system.details.equipment}}" title="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4EBETA.ItemTypeEquipment'}}" placeholder="{{localize 'DND4EBETA.ItemTypeEquipment'}}" /></label>
						</div>
						
					</div>{{!-- [Close] Adds Body	--}}
					
				</section>{{!-- [Close] Basics Section	--}}
		
		{{!-- Basics Section --}}
				<section class="section resources">
					<h2 class="subsection">{{localize 'Fox4e.TabResources'}}</h2>
				
					<div class="resources-body">
				
						{{#if (ne system.details.role.secondary "solo")}}
							{{#if (ne system.details.role.secondary "elite")}}
								<div class="saves">
									<span class="label roll-save rollable" title="{{localize 'DND4EBETA.SavingThrow'}}">{{localize 'Fox4e.GroupSaves'}}</span> 
									<span class="roll-save-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">+{{system.details.saves.value}}</span>
								</div>
								
								<div class="action-points">
									<span class="label rest action-point rollable" title="{{localize 'DND4EBETA.ActionPointUse'}}">{{localize "DND4EBETA.ActionPoints"}}</span> 
									<label class="action-points autosize"><input class="number" type="text" name="system.actionpoints.value" value="{{system.actionpoints.value}}" title="{{localize 'DND4EBETA.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" placeholder="0" />{{!--
										--}}<span class="ruler">{{!--
											--}}{{#if system.actionpoints.value}}{{!--
												--}}{{system.actionpoints.value}}{{!--
											--}}{{else}}{{!--
												--}}0{{!--
											--}}{{/if}}{{!--
										--}}</span>
									</label>
								</div>
							{{/if}}
						{{/if}}
						
						<div class="surges">
							<span class="label">{{localize "DND4EBETA.HealingSurges"}} <span><label class="attribute-sub attribute-input current autosize"><input class="number" type="text" name="system.details.surges.value" value="{{#if system.details.surges.value}}{{system.details.surges.value}}{{else}}0{{/if}}" title="{{localize 'DND4EBETA.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();" /><span class="ruler">{{system.details.surges.value}}</span></label>/<label class="attribute-sub attribute-input max autosize"><input type="text" name="system.details.surges.max" value="{{#if system.details.surges.max}}{{system.details.surges.max}}{{else}}0{{/if}}" title="{{localize 'DND4EBETA.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();" /><span class="ruler">{{system.details.surges.max}}</span>
							</label>
						</div>
						
						<div class="resting">
							<button class="rest short-rest npc" title="{{localize 'DND4EBETA.RestShort'}}">{{ localize "DND4EBETA.RestShort" }}</a>
							<button class="rest long-rest npc" title="{{localize 'DND4EBETA.RestLong'}}">{{ localize "DND4EBETA.RestLong" }}</button>
						</div>
							
					</div>{{!--[Close] Resources Body--}}
				</section>{{!-- [Close] Resources Section	--}}
		
		{{!-- Skills Section --}}
				<section class="section section--skills">
					<h2 class="subsection">{{localize 'DND4EBETA.Skills'}}</h2>
					<table class="skills items-list inventory-list">
						<thead>
							<tr class="skills-header">
								{{#if system.advancedCals}}<th class="skill-trained"><a class="training-toggle skill-training" title="{{skill.hover}}">Train{{Fox4e.Train}}</th>{{/if}}
								<th class="skill-name">{{localize 'DND4EBETA.Skill'}}</th>
								{{#if system.advancedCals}}<th class="skill-abil">{{localize 'Fox4e.Stat'}}</th>{{/if}}
								{{#if system.advancedCals}}<th class="skill-value">{{localize 'Fox4e.Total'}}</th>{{/if}}
								<th class="skill-base">{{#if system.advancedCals}}{{localize 'Fox4e.Base'}}{{else}}{{localize 'DND4EBETA.Value'}}{{/if}}</th>
							</tr>
						</thead>
						<tbody class="skills items-list inventory-list">
							{{#each system.skills as |skill s|}}
							<tr class="skill--block" data-skill="{{s}}">
								{{#if ../system.advancedCals}}<td class="skill-trained"><a class="training-toggle skill-training" title="{{skill.hover}}">{{{skill.icon}}}</a>
								<input type="hidden" name="system.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"></td>{{/if}}
								<td class="skill-name"><h4 class="skill-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{skill.label}} {{localize 'Fox4e.Check'}}">{{skill.label}}</h4></td>
								{{#if ../system.advancedCals}}<td class="skill-ability">{{skill.ability}}</td>{{/if}}
								{{#if ../system.advancedCals}}<td class="skill-bonus rollable" title="{{localize 'Fox4e.TipBonus'}}">{{numberFormat skill.total decimals=0 sign=true}}</td>{{/if}}
								<td class="skill-mod" title="{{#if ../system.advancedCals}}{{localize 'Fox4e.TipAddBonus'}}{{else}}{{localize 'Fox4e.TipEnterNum'}}{{/if}}  {{skill.label}}"><input class="skill-mod" name="system.skills.{{s}}.base" value="{{skill.base}}" data-dtype="Number" size="2" /></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</section>

		{{!-- Resistances Section --}}
				<section class="section section--resistances">
					<h2 class="subsection">{{localize 'DND4EBETA.DamRes'}}</h2>

					<table class="resistances attribute-res resource-full">
						<thead>
							<tr class="res-header">
								<th class="res-name">{{localize 'DND4EBETA.Type'}}</th>
								{{#if system.advancedCals}}<th class="res-value">{{localize 'Fox4e.Total'}}</th>{{/if}}
								<th class="res-bonus">{{#if system.advancedCals}}{{localize 'Fox4e.Base'}}{{else}}{{localize 'DND4EBETA.Value'}}{{/if}}</th>
								<th class="res-imm">{{localize 'Fox4e.Immune'}}</th>
							</tr>
						</thead>
						<tbody>
						{{#each system.resistances as |res r|}}
							<tr class="resistance" data-res="{{r}}">
								<td class="res-name"><h4 class="res-name">{{#if (eq res.label (localize 'Damage'))}}{{localize 'Fox4e.DamageAll'}}{{else}}{{res.label}}{{/if}}</h4></td>
								{{#if ../system.advancedCals}}<td class="res-value override-{{res.immune}}">{{res.value}}</a></td>{{/if}}
								<td class="resistances-bonus res-bonus override-{{res.immune}} rollable" data-target="system.resistances" title="{{localize 'Fox4e.TipBonus'}}">{{res.resBonusValue}}</td>
								<td class="res-immune">
								<input class="res-immune" type="checkbox" name="system.resistances.{{r}}.immune" data-dtype="Boolean" {{checked res.immune}} title="{{localize 'Fox4e.TipImmunity'}}" /></td>
							</tr>
						{{/each}}	
						</tbody>
					</table>
					
					<div class="res-special">
						<h3 class="subsection">{{localize 'Fox4e.TabResistancesExtra'}}</h3>
						<div class="res-special-body">	
							<div>
								<a class="list-string-input label untyped-resistances" data-options="special" data-target="system.untypedResistances.resistances" title="{{ localize 'Fox4e.TipEdit' }} {{ localize 'DND4EBETA.UntypedRes'}}">
									<span>{{ localize "Fox4e.Resist" }}</span>
									<i class="fas fa-edit"></i>
								</a>							
								<ul class="traits-list">
								{{#each system.untypedResistances.resistances as |v k|}}
									<li class="tag {{k}}">{{v}}</li>
								{{/each}}
								</ul>
							</div>
							
							<div>
								<a class="list-string-input label untyped-vulnerabilities" data-options="special" data-target="system.untypedResistances.vulnerabilities" title="{{ localize 'Fox4e.TipEdit' }} {{ localize 'DND4EBETA.UntypedVuln'}}">
									<span>{{ localize "Fox4e.Vulnerable" }}</span>
									<i class="fas fa-edit"></i>
								</a>								
								<ul class="traits-list">
								{{#each system.untypedResistances.vulnerabilities as |v k|}}
									<li class="tag {{k}}">{{v}}</li>
								{{/each}}
								</ul>
							</div>
							
							<div>
								<a class="list-string-input label untyped-immunities" data-options="special" data-target="system.untypedResistances.immunities" title="{{ localize 'Fox4e.TipEdit' }} {{ localize 'DND4EBETA.UntypedImm'}}">
									<span>{{ localize "Fox4e.Immune" }}</span>
									<i class="fas fa-edit"></i>
								</a>							
								<ul class="traits-list">
								{{#each system.untypedResistances.immunities as |v k|}}
									<li class="tag {{k}}">{{v}}</li>
								{{/each}}
								</ul>
							</div>
						</div>
						
					</div>
					
				</section>
			
			</div>
		
		</div>{{!--[Close] Manage--}}

{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">	
			{{> "modules/fox-4e-styling/templates/parts/npc-effects.html"}}
		</div>

	</section>


</form>

<script>
	npc_name_input.oninput = function() {
		npc_name_display.innerHTML = npc_name_input.value;
	};
	npc_subtype_input.oninput = function() {
		npc_subtype_display.innerHTML = npc_subtype_input.value;
	};
	npc_xp_input.oninput = function() {
		npc_xp_display.innerHTML = npc_xp_input.value;
	};
</script>
