<form class="{{cssClass}} sheet-body" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="head">
	
		<div class="char-title">
			<div class="image-frame">
				<img class="portrait" src="{{actor.img}}" data-tooltip="{{localize 'Fox4e.TipSheetImage'}}" data-edit="img" data-action="show-image" height="100" width="100" />
				<a class="hover-icon actor-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
			</div>
			
			<div class="banner-text">
				<div class="pc-name">{{!--
					--}}<label class="name autosize{{#if actor.name}} visible{{/if}}" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Name'}}">{{!--
						--}}<input id="name_input" class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DND4E.Name'}}" onClick="this.select();" tabindex=0 />{{!--
						--}}<h1 id="name_display" class="ruler">{{actor.name}}</h1>{{!--
					--}}</label>{{!--
				--}}</div>
		
				<section class="summary">
				
					<span class="level label">{{localize 'Fox4e.LevelAbbr'}}</span>
					<label class="level autosize{{#if system.details.level}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Level'}}">{{!--
						--}}<input id="level_input" class="number" name="system.details.level" type="text" value="{{#if system.details.level}}{{system.details.level}}{{/if}}" placeholder="{{localize 'DND4E.Level'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="level_display" class="ruler display">{{!--
						--}}{{#if system.details.level}}
							{{system.details.level}}
						{{else}}
							{{localize 'DND4E.Level'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>
				
					<label class="heritage autosize{{#if system.details.race}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'Fox4e.Heritage'}}">{{!--
						--}}<input id="heritage_input" class="heritage" name="system.details.race" type="text" value="{{#if system.details.race}}{{system.details.race}}{{/if}}" placeholder="{{localize 'Fox4e.Heritage'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="heritage_display" class="ruler display">{{!--
						--}}{{#if system.details.race}}
							{{system.details.race}}
						{{else}}
							{{localize 'Fox4e.Heritage'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>
					
					<label class="class autosize{{#if system.details.class}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Class'}}">{{!--
						--}}<input id="class_input" class="class" name="system.details.class" type="text" value="{{#if system.details.class}}{{system.details.class}}{{/if}}" placeholder="{{localize 'DND4E.Class'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="class_display" class="ruler display">{{!--
						--}}{{#if system.details.class}}
							{{system.details.class}}
						{{else}}
							{{localize 'DND4E.Class'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>{{!--
					
					--}}<label class="paragon hiding autosize{{#if system.details.paragon}} visible{{/if}}{{#if (gt system.details.level 10)}} required{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Paragon'}}">{{!--
						--}}<input id="paragon_input" class="paragon" name="system.details.paragon" type="text" value="{{#if system.details.paragon}}{{system.details.paragon}}{{/if}}" placeholder="{{localize 'DND4E.Paragon'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="paragon_display" class="ruler display">{{!--
						--}}{{#if system.details.paragon}}
							{{system.details.paragon}}
						{{else}}
							{{localize 'DND4E.Paragon'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>{{!--
					
					--}}<label class="epic hiding autosize{{#if system.details.epic}} visible{{/if}}{{#if (gt system.details.level 20)}} required{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'DND4E.Epic'}}">{{!--
						--}}<input id="epic_input" class="epic" name="system.details.epic" type="text" value="{{#if system.details.epic}}{{system.details.epic}}{{/if}}" placeholder="{{localize 'DND4E.Epic'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="epic_display" class="ruler display">{{!--
						--}}{{#if system.details.epic}}
							{{system.details.epic}}
						{{else}}
							{{localize 'DND4E.Epic'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>						
				
				</section>{{!--- end summary --}}
				
				<section class="traits" tabindex=0>

					<label for="system.details.size" class="size cover {{system.details.size}}" data-tooltip="{{localize 'Fox4e.TipCreatureSize'}}">{{!--
						--}}<select class="size covered" name="system.details.size">
						{{selectOptions config.actorSizes selected=system.details.size labelAttr="label"}}
					</select>{{#with (lookup config.actorSizes system.details.size) as |size|}}{{size.label}}{{/with}}{{!--
					--}}</label>
					
					<label for="system.details.origin" class="origin cover {{system.details.origin}}" data-tooltip="{{localize 'Fox4e.TipCreatureOrigin'}}">{{!--
							--}}<select class="origin covered" name="system.details.origin">
							{{selectOptions config.creatureOrigin  selected=system.details.origin labelAttr="label"}}
						</select>{{#with (lookup config.creatureOrigin system.details.origin) as |origin|}}{{origin.label}}{{/with}}{{!--
					--}}</label>
					
					<label for="system.details.type" class="type cover {{system.details.type}}" data-tooltip="{{localize 'Fox4e.TipCreatureType'}}">{{!--
						--}}<select class="type covered" name="system.details.type">
						{{selectOptions config.creatureType selected=system.details.type labelAttr="label"}}
					</select>{{#with (lookup config.creatureType system.details.type) as |type|}}{{type.label}}{{/with}}{{!--
					--}}</label>
					
					<label class="subtypes autosize{{#if system.details.other}} visible{{/if}}" tabindex="0" data-tooltip="{{localize 'Fox4e.TipEnterText'}} {{localize 'Fox4e.CreatureSubtypes'}}">{{!--
						--}}<input id="npc_subtype_input" class="subtypes" name="system.details.other" type="text" value="{{#if system.details.other}}{{system.details.other}}{{/if}}" placeholder="{{localize 'DND4E.PowerSubtype'}}" onClick="this.select();" tabindex="0" />{{!--
						--}}<span id="npc_subtype_display" class="ruler display">{{!--
						--}}{{#if system.details.other}}
							({{system.details.other}})
						{{else}}
							{{localize 'Fox4e.CreatureSubtypes'}}
						{{/if}}{{!--
						--}}</span>{{!--
					--}}</label>{{!--
				--}}</section>{{!-- end traits	--}}

			</div>
			
			
		</div>{{!-- End Title Banner --}}

	</header>
	
	{{!-- Main --}}
	<section class="body flexrow">
	
		{{!-- Vitals --}}
		<section class="vitals">
			{{> "modules/fox-4e-styling/templates/parts/pc-vitals.html"}}				
		</section>{{!-- End Vitals --}}

		<section class="main flexcol">

			<section class="tabs flexshrink">

				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<button class="item button basics" data-tab="basics" data-tooltip="{{localize 'Fox4e.TipTabBasics'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_basics.svg" height="25" width="25" /></button>
					<button class="item button powers" data-tab="powers" data-tooltip="{{localize 'DND4E.Powers'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_powers.svg" height="25" width="25" /></button>
					<button class="item button status" data-tab="status" data-tooltip="{{localize 'Status'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_status.svg" height="25" width="25" /></button>
					<button class="item button features" data-tab="features" data-tooltip="{{localize 'Fox4e.TipTabFeatures'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_features.svg" height="25" width="25" /></button>
					<button class="item button inventory" data-tab="inventory" data-tooltip="{{localize 'DND4E.Inventory'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_inventory.svg" height="25" width="25" /></button>
					<button class="item button rituals" data-tab="rituals" data-tooltip="{{localize 'Fox4e.RitualBook'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_rituals.svg" height="25" width="25" /></button>
					<button class="item button fluff" data-tab="fluff" data-tooltip="{{localize 'Fox4e.TipTabPersonal'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_fluff.svg" height="25" width="25" /></button>
					<button class="item button effects" data-tab="effects" data-tooltip="{{localize 'DOCUMENT.ActiveEffects'}}"><img class="button-icon" src="modules/fox-4e-styling/images/tab_effects.svg" height="25" width="25" /></button>
				</nav>
			</section>

			{{!-- Tab Content --}}
			<section class="tabs-content">

				{{!-- Basics Tab --}}
				<div class="tab basics" data-group="primary" data-tab="basics">
					{{> "modules/fox-4e-styling/templates/parts/pc-basics.html" sections=basics}}
				</div>
				
				{{!-- Powers Tab --}}
				<div class="tab powers" data-group="primary" data-tab="powers">
					{{> "modules/fox-4e-styling/templates/parts/pc-powers.html" sections=powers}}
				</div>

				{{!-- Details Tab --}}
				<div class="tab rituals" data-group="primary" data-tab="rituals">
					{{> "modules/fox-4e-styling/templates/parts/pc-rituals.html" sections=rituals}}
				</div>
				
				{{!-- Biography Tab --}}
				<div class="tab fluff" data-group="primary" data-tab="fluff">
					{{> "modules/fox-4e-styling/templates/parts/pc-fluff.html" sections=biography}}
				</div>
		
				{{!-- Owned Inventory Tab --}}
				<div class="tab inventory" data-group="primary" data-tab="inventory">
					{{> "modules/fox-4e-styling/templates/parts/pc-inventory.html" sections=inventory}}
				</div>
		
				{{!-- Feat Tab --}}
				<div class="tab features" data-group="primary" data-tab="features">
					{{> "modules/fox-4e-styling/templates/parts/pc-features.html" sections=features}}
				</div>
		
				{{!-- Status Tab --}}
				<div class="tab status flexcol" data-group="primary" data-tab="status">
					{{> "modules/fox-4e-styling/templates/parts/pc-status.html"}}
				</div>
		
				{{!-- Effects Tab --}}
				<div class="tab effects flexcol" data-group="primary" data-tab="effects">
					{{> "modules/fox-4e-styling/templates/parts/pc-effects.html"}}
				</div>
			</section>
			
		</section>	
	
	</section>{{!-- End Body/Main column split --}}

</form>
