/*---- Chat General ----*/
*.chat-message{
	text-rendering:optimizeLegibility;
	--font-primary:'DragonBodySans';
	--background-atwill:#619769;
	--background-encounter:#961334;
	--background-daily:#4d4d4f;
	--background-recharge:#70774f;
	--background-other:#193d5e;
	--background-item:#d7941d;
	--background-npc:#4e5c2e;
	--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	--gradient-4e-item:linear-gradient(90deg, #eed4ad 0%, #fff 100%);
	/*--background-container:#f3f3ed;*/
	--background-container:#fff;
	--background-alternate:#69633c3d;
	--colour-text-inside:#484a3d;
	--background-row-odd:#d3d1ba;
	--background-row-even:var(--gradient-4e);
	border-width:1px;
}
.chat-message .message-content{
	--font-primary:'DragonBodySans';
	font-family:var(--font-primary);
	line-height:1;
}
.chat-message:not(.narrator-chat) .message-content{
	color:#000;
	margin-top:3px;
}
.chat-message.emote .message-content{
	font-style:italic;
}
.chat-message .message-header{
	position:relative;
	line-height:1;
}
.chat-message .message-header .flavor-text{
	font-family:var(--font-primary);
	background:#5d1232;
	color:#fff;
	padding:3px 4px;
	margin-top:3px;
	text-transform:uppercase;
	font-size:0.7rem;
}
.chat-message .message-header :not(.flavor-text){
    text-transform:uppercase;
    font-size:0.7rem;
    font-weight:500;
}
.chat-message .message-content p{
	margin:0;
	padding:0.15em 0.3em 0.15em 0.3em;
}
.chat-message .message-content img{
	-o-object-fit:contain;
	   object-fit:contain;
	border:unset;
    background-color:unset;
}
.chat-message .message-content img[src$=".svg"]{
	-webkit-filter:brightness(0);
	        filter:brightness(0);
}
.chat-message a.content-link,
.chat-message a.inline-roll{
	border:0;
	background:0;
	padding:0;
	text-decoration:underline;
	-webkit-text-decoration-style:dotted;
	        text-decoration-style:dotted;
	text-indent:0;
	white-space:initial;
	word-break:initial;
	color:#5d1232;
}
.chat-message a.inline-roll{
	font-weight:700;
}
.chat-message a.inline-result i{
	display:none;
}
.chat-message a.inline-roll i{
	text-indent:0;
	margin-right:1px;
}

/* ---- Notices ---- */
/*------------------------------------------------------------------*/

/* ---- Actual Tables ---- */
/*------------------------------------------------------------------*/
.chat-message table{
	border:unset;
	color:#000;
}
.chat-message table td,
.chat-message table th{
    padding:2px 5px;
}
.chat-message table:not(.power,.item,.hazard,.monster) thead{
	background:#193d5e;
	color:#fff;
}
.chat-message table:not(.power,.item,.hazard,.monster) tr:not(:first-child){
	border-top:1px solid #fff;
}
.chat-message table:not(.power,.item,.hazard,.monster) tr:not(:last-child){
	border-bottom:1px solid #fff;
}
.chat-message table:not(.power,.item,.hazard,.monster) tbody:not(:first-child) tr{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.chat-message table:not(.power,.item,.hazard,.monster) td{
	border:none;
}
.chat-message table:not(.power,.item,.hazard,.monster) tr:nth-child(odd){
	background:#d3d1ba;
}
.chat-message table:not(.power,.item,.hazard,.monster) tr:nth-child(even){
	background:var(--gradient-4e);
}
.chat-message table:not(.power,.item,.hazard,.monster) tfoot{
   font-size:0.85em;
}

/* ---- Rolls ---- */
/*------------------------------------------------------------------*/
.chat-message .dice-roll :is(.dice-formula,.dice-total){
	border:none;
	-webkit-box-shadow:unset;
	        box-shadow:unset;
	background:var(--background-alternate);
}
.chat-message .dice-roll .dice-formula{
	margin-bottom:0;
	border-bottom:1px dashed rgba(255,255,255,0.5);
	border-radius:3px 3px 0 0;
}
.chat-message .dice-roll .dice-total{
	margin-top:0;
	border-radius:0 0 3px 3px;
}
.chat-message .dice-roll .dice-tooltip{
	background:var(--background-alternate);
}
.chat-message .dice-roll .dice-tooltip .dice-rolls{
	margin:0;
	border-bottom:1px dashed rgba(255,255,255,0.5);
}
.chat-message .dice-roll .dice-tooltip .part-header .part-formula{
    padding-left:0.25em;
}
.dice-roll .hit-prediction.probable-hit::before{
	content:" ";
	background-image:url('../images/hit.svg');
}
.dice-roll .hit-prediction.probable-miss::before{
	content:" ";
	background-image:url('../images/miss.svg');
}
.dice-roll .hit-prediction.critical::before{
	content:" ";
	background-image:url('../images/hit-crit.svg');
	margin-top:-4px;
	margin-bottom:-3px;
	width:1.2em;
	height:1.2em;
}
.dice-roll .hit-prediction.critical{
	color:#00a846;
}
.dice-roll .dice-total.critical{
	color:#00a846;
}
.dice-roll .hit-prediction.fumble::before{
	content:" ";
	background-image:url('../images/miss-crit.svg');
	margin-top:-4px;
	margin-bottom:-3px;
	width:1.2em;
	height:1.2em;
}

/* ---- Roll Tables ---- */
/*------------------------------------------------------------------*/
.chat-message .table-draw{
	color:#000;
}
.chat-message .table-draw .table-description{
	font-size:revert;
	border-top:unset;
}
.chat-message .table-draw .table-results .table-result{
	border-bottom:1px solid #fff;
}
.chat-message .table-draw .table-results .table-result:nth-child(odd){
	background:var(--background-row-odd);
}
.chat-message .table-draw .table-results .table-result:nth-child(even){
	background:var(--background-row-even);
}
.chat-message .table-draw .table-results .table-result img.result-image{
	-webkit-box-flex:0;
	    -ms-flex:0 0 16px;
	        flex:0 0 16px;
    width:16px;
    height:16px;
	-o-object-fit:contain;
	   object-fit:contain;
	border:unset;
    background-color:unset;
}

/*---- Buttons & Effects tray ----*/
/*------------------------------------------------------------------*/
.chat-message .chatDamageButtons{
    margin:0;
	gap:3px;
}
.chat-message .fakechatbutton{
	margin-top:3px;
    border-radius:3px;
	padding:0.25rem;
	background:#eeede5;
    border:unset;
	-webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.1);
	        box-shadow:1px 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-flex:2;
	    -ms-flex-positive:2;
	        flex-grow:2;
    font-size:0.65rem;
	text-transform:uppercase;
}
.chat-message .fakechatbutton i{
	margin-right:2px;
}
.chat-message .dnd4e.chat-card .roboto-upper,
.chat-message .dnd4e.chat-card .name-stacked .title{
	font-family:var(--font-primary);
}
.chat-message .dnd4e.chat-card .effects-tray{
	padding:0;
	border-radius:3px;
	margin-top:3px;
}
.chat-message .dnd4e.chat-card .effects-tray:not(.collapsed){
	padding-bottom:0.3em;
}
.chat-message .dnd4e.chat-card .effects-tray .roboto-upper{
	padding:0.3rem 0.5rem;
    border-radius:3px;
    font-size:0.65rem;
    font-weight:normal;
}
.chat-message .dnd4e.chat-card .effects-tray .effects{
	margin:0;
	padding:0 0.3rem;
}
.chat-message .dnd4e.chat-card .effects-tray:not(.collapsed) .roboto-upper{
	border-radius:3px 3px 0 0;
}
.chat-message .dnd4e.chat-card .effects-tray:not(.collapsed) .effects{
	margin-top:0.3rem;
}
.chat-message .dnd4e.chat-card .effects-tray .effects .effect{
    padding:0.1rem 0.2rem;
    margin:0;
}
.chat-message .dnd4e.chat-card .effects-tray .effects .effect:not(:last-child){
    border-bottom:1px solid #fff;
}
.chat-message .dnd4e.chat-card .effects-tray .effects .effect img{
	border:unset;
	height:25px;
	width:25px;
	background:none;
	-webkit-box-shadow:unset;
	        box-shadow:unset;
}
.chat-message .dnd4e.chat-card .effects-tray .name-stacked .title{
	font-family:inherit;
}
.chat-message .dnd4e.chat-card .effects .effect:nth-child(odd){
	background:var(--background-row-odd);
}
.chat-message .dnd4e.chat-card .effects .effect:nth-child(even){
	background:var(--background-row-even);
}

/*---- Chat Cards ----*/
/*------------------------------------------------------------------*/
.dnd4e.chat-card .card-header{
	background:var(--background-other);
	border:unset;
	padding:0;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.dnd4e.chat-card .card-content,
.dnd4e.chat-card .card-header .flavor{
	color:#000;
}
.dnd4e.chat-card .card-header img[src$=".svg"]{
	-webkit-filter:brightness(255);
	        filter:brightness(255);
}
.dnd4e.chat-card .item-name{
	background:unset;
}
.dnd4e.chat-card .card-header h3{
	text-transform:none;
	font-size:1.2em;
	color:#fff;
	line-height:1;
	font-family:var(--font-primary);
}
.dnd4e.chat-card .card-header h3:hover,
.dnd4e.chat-card .card-header h3:focus,
.dnd4e.chat-card .card-header h3:active{
    text-shadow:1px 0px 3px #0008,
				-1px -1px 3px #0008,
				2px 2px 7px #fff,
				-2px -2px 8px #fff;
	cursor:pointer;
}
.dnd4e.chat-card .card-header img{
	z-index:0;
	border:none;
	height:100%;
	-o-object-fit:contain;
	object-fit:contain;
	border-radius:0;
}
.dnd4e.chat-card .card-content>p,
.dnd4e.chat-card .item-details>:is(span,p,div){
	margin:0;
	display:block;
}
.dnd4e.chat-card:not(.ritual) :is(.item-summary,.card-content)>p,
.dnd4e .item-details>span,
.dnd4e .item-details p,
.dnd4e .item-description{
	padding:0.1em 0.3em 0.1em 0.3em;
}
.dnd4e.chat-card:not(.ritual,.NPC) :is(.item-summary,.card-content)>:is(p,ol,ul,span),
.dnd4e:not(.NPC) .item-details>span,
.dnd4e:not(.NPC) .item-details p,
.dnd4e:not(.NPC) .item-description{
	background:var(--gradient-4e);
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.item-details,.card-content)>p:not(:first-child){
    text-indent:0.5em;
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.item-details,.card-content)>p:not(:first-child)>:is(strong,b):first-of-type{
	display:inline-block;
    text-indent:-0.5em;
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.item-details,.card-content)>p:not(:first-child)>:is(strong,b):first-of-type::after{
	content:' ';
	display:inline-block;
}
.dnd4e.chat-card:not(.autogen) .card-content p:is(.flavour,.chat-flavour,.basics,.power-basics){
	text-indent:unset;
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.card-content)>:is(ol,ul){
	margin:0;
	padding:0.1em 0.3em 0.1em 1.8em;
	background:var(--gradient-4e);
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.card-content)>ul{
  list-style:none outside;
  position:relative;
}
.dnd4e.chat-card:not(.power-card,.ritual,.consumable-card,.equipment-card,.weapon-card,.tool,.NPC,.backpack-card) :is(.item-summary,.card-content)>ul li::before{
  display:block;
  margin-left:-1em;
  margin-right:0.4em;
  font-size:1em;
  content:'\2726';
  position:absolute;
}
.dnd4e.chat-card .item-details>span+br{
	display:none;
}
.dnd4e.chat-card :is(.flavour,.chat-flavour){
    background:var(--gradient-4e);
	font-style:italic;
}
.dnd4e.chat-card .card-content p.indent{
	padding-left:1.3em;
}
.chat-message .dnd4e.chat-card .card-buttons{
    margin:0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	gap:3px;
}
.chat-message .dnd4e.chat-card .card-buttons button{
	margin:0;
	line-height:1;
	height:auto;
	padding:0.25rem;
	background:#eeede5;
    border:unset;
	-webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.1);
	        box-shadow:1px 1px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-flex:2;
	    -ms-flex-positive:2;
	        flex-grow:2;
    font-size:0.65rem;
	text-transform:uppercase;
}
.chat-message .dnd4e.chat-card .card-buttons button:is(:first-child,:nth-child(2)){
	margin-top:3px;
}
.dnd4e.chat-card .card-buttons .dnd4e-button-icon{
    vertical-align:unset;
    font-size:inherit;
    width:unset;
    height:unset;
    line-height: 1;
}
.dnd4e.chat-card .card-buttons button[data-action="attack"] .dnd4e-button-icon::before,
.dnd4e.chat-card .card-buttons button[data-action="healing"] .dnd4e-button-icon::before{
    font-family:"Font Awesome 6 Pro";
	display:inline-block;
    font-weight:900;
}
.dnd4e.chat-card .card-buttons button[data-action="attack"] .dnd4e-button-icon::before{
    content:"\f140";
}
.dnd4e.chat-card .card-buttons button[data-action="healing"] .dnd4e-button-icon::before{
    content:"\f004";
}
.dnd4e.chat-card .card-buttons button[data-action="attack"] .dnd4e-button-icon img,
.dnd4e.chat-card .card-buttons button[data-action="healing"] .dnd4e-button-icon img{
	display:none;
}
.dnd4e.chat-card:not(.ritual) .card-footer{
	display:none;
}

/*---- Chat Cards - PC Power Cards ----*/
/*------------------------------------------------------------------*/
.dnd4e.power-card.use-atwill:not(.NPC) .card-header{
	background:var(--background-atwill);
}
.dnd4e.power-card.use-encounter:not(.NPC) .card-header{
	background:var(--background-encounter);
}
.dnd4e.power-card.use-daily:not(.NPC) .card-header{
	background:var(--background-daily);
}
.dnd4e.power-card.use-item:not(.NPC) .card-header{
	background:var(--background-item);
}
.dnd4e.power-card.use-recharge:not(.NPC) .card-header{
	background:var(--background-recharge);
}
.dnd4e.power-card.use-other:not(.NPC) .card-header{
	background:var(--background-other);
}
.dnd4e.power-card .item-summary{
	background:#fff;
}
.dnd4e.chat-card:not(.power-card,.NPC,.ritual) .item-summary{
	background:var(--gradient-4e);
}	
.dnd4e.power-card:not(.use-other) .item-details p:not(.flavour,.chat-flavour,.basics,.power-basics),
.dnd4e.power-card:not(.use-other,.autogen) .card-content>p:not(.flavour,.chat-flavour,.basics,.power-basics){
	margin:0;
	text-indent:-0.5em;
	padding:0.1em 0.3em 0.1em 0.8em;
}
.dnd4e.power-card:not(.autogen).use-other .card-content p:not(:first-child){
	padding-top:0.1em;
}
.dnd4e.power-card:not(.autogen).use-other .card-content p:not(:last-child){
	padding-bottom:0.1em;
}
.dnd4e.power-card:not(.autogen).use-other p:not(:first-child){
	text-indent:0.5em;
}
.dnd4e.power-card:not(.use-other) .item-details p:not(.flavour,.chat-flavour,.basics,.power-basics).indent,
.dnd4e.power-card:not(.use-other,.autogen) .card-content>p:not(.flavour,.chat-flavour,.basics,.power-basics).indent{
	padding-left:1.3em;
}
.dnd4e.power-card:not(.NPC) .item-description p,
.dnd4e.power-card:not(.NPC) .item-description span,
.dnd4e.power-card:not(.NPC) .chat-flavour p,
.dnd4e.power-card:not(.NPC)  p.chat-flavour,
.dnd4e.power-card.autogen:not(.NPC) .card-content>p:first-child{
	font-style:italic;
}
.dnd4e.power-card:not(.use-item,.NPC,.ritual) .flavour,
.dnd4e.power-card:not(.use-item,.NPC,.ritual) .chat-flavour,
.dnd4e.power-card:not(.use-item,.NPC,.ritual) .card-content>p:first-child:not(.item-summary,.white,.basics,.power-basics),
.dnd4e.power-card:not(.NPC,.autogen,.use-item) .card-content p:not(.power-basics,.basics,.white){
	background:var(--gradient-4e);
}
.dnd4e.power-card:not(.use-item,.NPC) :is(.item-details,.card-content)>.effect.alt~:not(.requirements,.trigger,.target,.attack,.hit,.miss,.special,.effect,.sustain,.alt,.effects-tray,.card-buttons,.white,.power-basics){
	background:var(--gradient-4e);
	text-indent:1em;
	padding-top:0;
}
.dnd4e.power-card:not(.use-item,.NPC) :is(.item-details,.card-content)>.effect.alt~:not(.requirements,.trigger,.target,.attack,.hit,.miss,.special,.effect,.sustain,.effects-tray,.power-buttons,:last-child){
	padding-bottom:0;
}
.dnd4e.power-card:not(.NPC,.use-item) p:not(.flavour,.chat-flavour).alt-highlight,
.dnd4e.power-card:not(.NPC,.use-item) :not(.flavour,.chat-flavour).alt{
	background:var(--gradient-4e);
}
.dnd4e.power-card:not(.NPC,.use-item) .item-details>span,
.dnd4e.power-card:not(.NPC,.use-item) p:not(.flavour,.chat-flavour),
.dnd4e.power-card:not(.use-item,.NPC) .white,
.dnd4e.power-card:not(.use-item,.NPC) .card-content>p.subheading,
.dnd4e.power-card:not(.use-item,.NPC) .white+ul,
.dnd4e.power-card:not(.NPC,.use-item) p:nth-child(even of .alt-highlight),
.dnd4e.power-card:not(.NPC,.use-item) .power-basics{
	background:#fff;
}
.dnd4e.power-card .item-details span,
.dnd4e.power-card .item-details p,
.dnd4e.power-card .item-description p{
	margin:0;
}
.dnd4e.power-card:not(.NPC) :is(.item-details,.card-content)>:is(.hit,.effect)~ul{
	margin-top:-0.5em;
	margin-bottom:0;
	padding-left:2.2em;
	padding-bottom:0.3em;
}
.dnd4e.power-card.autogen:not(.NPC) :is(.item-details,.card-content)>:is(.hit,.effect)~p+ul{
	margin-top:0;
}
.dnd4e.power-card.autogen:not(.NPC) :is(.item-details,.card-content)>ul li{
	text-indent:unset;
}
.dnd4e.power-card .item-details p:last-child{
	padding-bottom:0.3em;
}
.dnd4e.power-card .item-details span{
	padding-top:0;
	padding-bottom:0;
}
.dnd4e.power-card .item-details>span{
	display:block;
}
.dnd4e.power-card .item-details>br{
	display:none;
}
.dnd4e.chat-card:not(.power-card,.use-other,.ritual,.NPC) .card-content p{
	background:var(--gradient-4e);
}
.dnd4e.power-card:not(.autogen).use-other .card-content>p{
	background:#fff;
}
.dnd4e.power-card:not(.autogen,.use-item) .power-basics{
	background:#fff;
	margin:0;
}
.dnd4e.power-card:not(.autogen).use-other .card-content>p:not(:first-child){
	padding:0.1em 0.3em 0.1em 0.3em;
	text-indent:0.5em;
}
.dnd4e.power-card:not(.autogen).use-other .card-content>p:first-child{
	padding:0.1em 0.3em 0.1em 0.3em;
}
.dnd4e.power-card:not(.autogen,.use-other,.use-item,.NPC) .card-content>:is(p.div):last-of-type,
.dnd4e.power-card:not(.autogen).use-other .card-content>:last-of-type,
.dnd4e.power-card.autogen .item-details>:is(p.div):last-of-type{
	padding-bottom:0.3em;
}

/*---- Chat Cards - Rituals ----*/
/*------------------------------------------------------------------*/
.dnd4e.chat-card.ritual .card-header{
	background:#8974aa;
	-webkit-box-ordinal-group:-1;
	 -ms-flex-order:-2;
		  order:-2;
}
.dnd4e.chat-card.ritual .card-content .item-summary>:not(.item-details){
    background:#fff;
}
.dnd4e.chat-card.ritual :is(.item-summary,.card-footer){
	font-weight:300;
	background:#fff;
}
.dnd4e.chat-card.ritual :is(.item-summary,.card-footer) strong,
.dnd4e.chat-card.ritual :is(.item-summary,.card-footer) b{
	font-weight:500;
}
.dnd4e.chat-card.ritual .item-summary>p:not(:first-child){
	text-indent:0.5em;
	padding:0rem 0.3rem 0rem 0.3rem;
}
.dnd4e.chat-card:is(.ritual) .item-summary>p:first-child{
	padding:0.1rem 0.3rem 0rem 0.3rem;
}
.dnd4e.chat-card.ritual .item-summary>p:is(.flavour,.basics)+p{
	text-indent:0;
}
.dnd4e.chat-card.ritual .card-footer{
	background:#fff;
	color:#000;
	-webkit-box-ordinal-group:0;
	 -ms-flex-order:-1;
		  order:-1;
}
.dnd4e.chat-card.ritual{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}
.dnd4e.chat-card.ritual .card-footer{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	padding:0.1rem 0.3rem 0.1rem 0.3rem;
}
.dnd4e.chat-card.ritual .card-footer span{
	font-size:0.8em;
}
.dnd4e.chat-card.ritual .card-footer>*{
	-ms-flex-preferred-size:50%;
	    flex-basis:50%;
	border:none;
}
.dnd4e.chat-card.ritual .item-summary>p.flavour{
	font-style:oblique;
}
.dnd4e.chat-card.ritual .item-summary>p:last-of-type{
	padding-bottom:0.3em;
}

/*---- Chat Cards - Equipment, Consumable and Item Powers ----*/
/*------------------------------------------------------------------*/
.dnd4e.chat-card.consumable-card .card-header,
.dnd4e.chat-card.weapon-card .card-header,
.dnd4e.chat-card.equipment-card .card-header,
.dnd4e.chat-card.tool .card-header,
.dnd4e.chat-card.backpack-card .card-header{
	background:#d7941d;
}
.dnd4e:is(.equipment-card,.weapon-card,.consumable-card,.chat-card.tool,.backpack-card) :is(.item-summary,.card-content)>:is(p,ol,ul,span):not(.subheading,.flavour),
.dnd4e.power-card.use-item .card-content>p,
.dnd4e.power-card.use-item .card-content .item-summary p,
.dnd4e.power-card.use-item .card-content .item-summary p.alt,
.dnd4e.chat-card.tool .card-content .item-summary,
.dnd4e.consumable-card .item-details .alt,
.dnd4e.chat-card.tool .card-content .item-summary>p{
	background:#f6e8d3;	
}
.dnd4e:is(.equipment-card,.weapon-card,.consumable-card,.chat-card.tool,.backpack-card) .card-content>p.flavour,
.dnd4e.power-card.use-item .card-content>p.flavour,
.dnd4e.power-card.use-item.autogen .card-content p.chat-flavour,
.dnd4e.chat-card.tool .card-content .chat-flavour,
.dnd4e.chat-card.tool .card-content .flavour{
	background:var(--gradient-4e-item);
	font-style:oblique;
}
.dnd4e:is(.equipment-card,.weapon-card,.consumable-card,.chat-card.tool,.backpack-card) .card-content p:is(.subheading),
.dnd4e.power-card.use-item .card-content p:is(.subheading),
.power-card.use-item .card-content .item-details>span,
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details>span{
	background:#eccc9a;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details span,
.dnd4e.power-card.use-item .item-details span{
	margin:0;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details>span,
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details p,
.dnd4e:is(.consumable-card,.chat-card.tool) .item-description p,
.dnd4e.power-card.use-item .item-summary>span,
.dnd4e.power-card.use-item:not(.autogen) .card-content p:not(.flavour,.subheading){
	margin:0;
	text-indent:-0.5em;
	padding:0em 0.3em 0em 0.8em;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-summary p:last-of-type,
.dnd4e.power-card.use-item:not(.autogen) .card-content p:last-of-type:not(.flavour){
	padding-bottom:0.3em;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-summary span,
.dnd4e.power-card.use-item .item-summary span{
	padding-top:0;
	padding-bottom:0;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details>span,
.dnd4e.power-card.use-item .item-details>span{
	display:block;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .item-details>br,
.dnd4e.power-card.use-item .item-details>br{
	display:none;
}
.dnd4e:is(.consumable-card,.chat-card.tool) .card-content>table,
.dnd4e.power-card:not(.use-item,.NPC) .card-content p:is(.requirements,.trigger,.target,.attack){
	background:#fff;
}
.dnd4e.chat-card.tool .card-footer{
	display:none;
}
.dnd4e:is(.consumable-card,.equipment-card,.weapon-card,.chat-card.loot,.chat-card.tool,.backpack-card) .card-content p.basics+p.basics{
	padding-top:0;
}
.dnd4e.chat-card.equipment-card .card-content .ac-scale{
	background:#f6e8d3;
	-webkit-columns:3;
	   -moz-columns:3;
	        columns:3;
}
.dnd4e.chat-card.equipment-card .card-content .ac-scale p.base-ac{
	-ms-flex-preferred-size:calc(100% / 3 - 0.3em);
	    flex-basis:calc(100% / 3 - 0.3em);
	background:unset;
}
.dnd4e.chat-card.equipment-card .card-content .base-ac>strong{
	display:inline-block;
	min-width:3em;
}

/*---- Chat Cards - NPC stuff ----*/
/* (Including Epic Destiny Feature Cards Dressed as Monster Lore) */
/*------------------------------------------------------------------*/
.dnd4e.chat-card.NPC .card-header{
	background-color:#4e5c2e;
}
.dnd4e.power-card.NPC.autogen .card-content>p:not(.chat-flavour){
	display:none;
}
.dnd4e.chat-card.NPC .item-details p{
	text-indent:-0.5em;
	padding:0em 0.3em 0em 0.8em;
}
.dnd4e.chat-card.NPC p,
.dnd4e.chat-card.NPC:not(.destinyFeats-card) .card-content>p:not(.flavour,.subheading),
.dnd4e.power-card.NPC .alt-highlight:nth-child(even){
	background:#e8e6d4;
}
.dnd4e.power-card.NPC .item-details p:last-of-type,
.dnd4e.chat-card.NPC:not(.destinyFeats-card) .card-content>p:last-of-type{
	padding-bottom:0.3em;
}
.dnd4e.chat-card.NPC:not(.destinyFeats-card) .card-content>p:first-of-type{
	padding-top:0.2em;
}
.dnd4e.power-card.NPC .item-details>span,
.dnd4e.power-card.NPC .card-content>p.power-basics,
.dnd4e.power-card.NPC .card-content>p.subheading{
	background:#cdcbb5;
}
.dnd4e.chat-card:not(.power-card).NPC .item-summary{
	background-color:#4e5c2e;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content{
	background:#e8e6d4;
	margin-top:0;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content :is(h1,h2,h3){
	margin:0;
	padding:0.1rem 0.3rem 0.1rem 0.3rem;
	border:unset;
	font-weight:500;
	color:#fff;
	font-variant:small-caps;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content h1{
	background:#70774f;
	font-size:1.25em;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content h2{
	background:#70774f;
	font-size:1.15em;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content h3{
	background:#cdcbb5;
	font-size:1em;
	color:#000;
	font-variant:revert;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content>p:last-child{
	padding-bottom:0.3em;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content table{
	background:unset;
	border:0;
}
.dnd4e.chat-card.NPC .card-buttons button{
	background:#e8e6d4;
}

/*---- Chat Cards - Loot Cards ----*/
/*------------------------------------------------------------------*/
.dnd4e.chat-card.loot-card .card-header{
	background:#5b1e34;
}


/*------------------------------------------------------------------*/
/*---- 3RD PARTY MODULE SUPPORT ------------------------------------*/
/*------------------------------------------------------------------*/

/*---- Item Piles support ----*/
/*------------------------------------------------------------------*/
.chat-message .item-piles-chat-card{
	padding:0;
}
.chat-message .item-piles-chat-card ul{
	list-style:none;
    padding-left:0;
}
.chat-message .item-piles-chat-card li{
	border-radius:0;
	margin:0;
}
.chat-message .item-piles-chat-card li:not(:last-child){
	border-bottom:1px solid #fff;
}
.chat-message .item-piles-chat-card li img{
    background-color:unset;
}
.chat-message .item-piles-chat-card li:nth-child(odd){
	background:var(--background-row-odd);
}
.chat-message .item-piles-chat-card li:nth-child(even){
	background:var(--background-row-even);
}
.chat-message .item-piles-chat-card img[src$=".svg"] {
	-webkit-filter:brightness(0);
	        filter:brightness(0);
}
.chat-message .item-piles-chat-card hr{
	border-top:1px dotted #9f9275;
	border-bottom:unset;
}

/*---------- Chat Portrait support ----------*/
/*------------------------------------------------------------------*/

h4.chat-portrait-flexrow{
	display:none;
}
.message img.chat-portrait-message-portrait-generic{
	margin-bottom:0;
}
.chat-portrait-message-header-generic .whisper-to{
	position:absolute;
	top:1.4em;
	right:0;
}
.chat-message .chat-portrait-message-header-generic+.message-content,
.chat-message .chat-portrait-message-header-generic .flavor-text.chat-portrait-text-size-name-generic{
    margin-top:0;
}
.chat-portrait-flexrow+.dnd4e.chat-card .card-header{
	position:relative;
	min-height:36px;
}
.chat-portrait-flexrow+.dnd4e.chat-card .card-header h3{
	padding-left:42px;
}
.chat-portrait-flexrow+.dnd4e.chat-card .card-header img{
	position:absolute;
	top:0;
	left:0;
}
.system-dnd4e .chat-portrait-text-size-name-generic{
	display:inline-block;
}
.dnd4e.chat-card.destinyFeats-card.NPC .card-content h3.chat-portrait-text-size-name-generic{
	display:block;
}

/* DF Chat Enhancements support! */
/*------------------------------------------------------------------*/
.chat-message{
	--dfce-cm-header-delete-pad:0;
}
.chat-message:is(.dfce-cm-middle,.dfce-cm-top){
	padding-bottom:0;
}
.chat-message:is(.dfce-cm-middle,.dfce-cm-top) .chat-card{
	margin-bottom:3px;
}
.chat-message:is(.dfce-cm-middle,.dfce-cm-bottom){
	padding-top:0;
}
.chat-message:is(.dfce-cm-middle,.dfce-cm-bottom) .message-delete{
	top:0.5em;
}
.chat-message:is(.dfce-cm-middle,.dfce-cm-bottom) .message-sender,
.chat-message:is(.dfce-cm-middle,.dfce-cm-bottom) .message-header img[class^="chat-portrait"]{
	border:unset !important;
	height:0 !important;
	display:none !important;
	overflow:hidden !important;
}

/* Active Effects to Chat support! */
/*------------------------------------------------------------------*/
.ae-to-chat.header{
	padding:0.25em 0.6em;
	color:#fff;
	background:var(--background-other);
}
.ae-to-chat.header h3{
    font-size:1em;
    border-bottom:unset;
	margin:0;
}
.ae-to-chat.content .effect-list{
	border:unset;
	border-radius:0;
	margin:0;
	padding:0;
	background:#fff;
	color:#000;
}
img.effect-icon.chat-message{
	display:block;
}
.ae-to-chat.content .effect-list li{
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.ae-to-chat.content .effect-list li:not(:first-child){
	margin-top:0.08em;
}
.ae-to-chat.content .effect-list li:nth-child(odd){
	background:#d3d1ba;
}
.ae-to-chat.content .effect-list li:nth-child(even){
	background:var(--gradient-4e);
}

/*---- Narrator Tools support ----*/
/*------------------------------------------------------------------*/
#chat-log .message.narrator-chat{
	border-width:0;
}
#chat-log .message.narrator-notification{
    background:#462b37;
}

/*---- Tweaks for VAE condition summary to chat ----*/
/*------------------------------------------------------------------*/
.chat-message table img[style="vertical-align:middle;background-color:black;background-blend-mode:normal"]{
	background:unset !important;
}
.chat-message table td[style="padding-right:15px;width:45px"]{
	width:30px !important;
	padding-right:unset !important;
}

/*---- Enhanced Conditions (Condition Lab & Triggler) support ----*/
/*------------------------------------------------------------------*/
.chat-message .message-content .enhanced-conditions.header{
	font-family:var(--font-primary);
	background:#5d1232;
	color:#fff;
	padding:3px 4px;
	text-transform:uppercase;
}
.chat-message .message-content .enhanced-conditions.header h3{
	margin:0;
	font-size:0.7rem;
	border-bottom:unset;
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list{
	border:unset;
	color:#000;
    margin:0;
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list>li{
	border-bottom:1px solid #fff;
	padding:0.1rem 0.3rem;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list>li:nth-child(odd){
	background:var(--background-row-odd);
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list>li:nth-child(even){
	background:var(--background-row-even);
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list div.condition-name,
.chat-message .enhanced-conditions.content ul.chat-message.condition-list div.condition-reference{
	margin:0;
	height:auto;
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list img.condition-icon.chat-message{
	margin:0 0.1rem;
}
.chat-message .enhanced-conditions.content ul.chat-message.condition-list .remove-row,
.chat-message .enhanced-conditions.content ul.chat-message.condition-list .undo-remove{
    -webkit-box-flex:0;
        -ms-flex:0 0 1em;
            flex:0 0 1em;
}
.chat-message.burble .message-content .enhanced-conditions.header{
	background:#e8e6d4;
	color:#000;
	margin:-0.3rem -0.3rem 0.3rem -0.3rem;
}

/*---- Burble support! ----*/
/*------------------------------------------------------------------*/
.chat-message.burble{
	--background-container:#fff;
	--background-alternate:#e8e8dc;
	--colour-text-inside:#000;
}
.chat-message.burble .table-draw .table-results .table-result{
	border-bottom:1px solid #fff;
}
.chat-message.burble.notice .message-content table:not(.power,.item,.hazard,.monster) tr:nth-child(odd),
.chat-message.burble .table-draw .table-results .table-result:nth-child(odd){
	background:var(--background-row-odd);
}
.chat-message.burble .table-draw .table-results .table-result:nth-child(even),
.chat-message.burble.notice .message-content table:not(.power,.item,.hazard,.monster) tr:nth-child(even){
	background:var(--background-row-even);
}
.chat-message.burble .table-draw .table-results .table-result img.result-image{
	-webkit-box-flex:0;
	    -ms-flex:0 0 16px;
	        flex:0 0 16px;
    width:16px;
    height:16px;
}
.chat-message.burble .dnd4e.chat-card:not(.NPC) .card-buttons button,
.chat-message.burble .fakechatbutton,
.chat-message.burble .dnd4e.chat-card:not(.NPC) .effects-tray .roboto-upper{
	background:var(--background-alternate);
}
.chat-message.burble.emote .message-content,
.chat-message.burble .message-header .flavor-text,
.chat-message.burble:not(.notice) .message-header .flavor-text,
.chat-message:is(.speech,.emote).narrator-chat .message-content{
	background:var(--gradient-4e);	
	padding:0.5em;
}
.chat-message.burble:is(.notice,.roll) .message-content{
	margin-top:0;
}
.chat-message.burble .dnd4e.chat-card .card-buttons button,
.chat-message.burble .fakechatbutton{
	border:unset;
}
.chat-message.burble .dnd4e.chat-card .effects-tray label::before,
.chat-message.burble .dnd4e.chat-card .effects-tray label::after{
	content:unset;
}
.chat-message.burble .dice-roll .dice-formula{
    border-bottom:1px dashed #fff;
}
.chat-message.burble .dnd4e:is(.equipment-card,.weapon-card,.consumable-card,.chat-card.tool,.backpack-card) .card-content>p.flavour,
.chat-message.burble .dnd4e.power-card.use-item .card-content>p.flavour,
.chat-message.burble .dnd4e.power-card.use-item.autogen .card-content p.chat-flavour,
.chat-message.burble .dnd4e.chat-card.tool .card-content .chat-flavour,
.chat-message.burble .dnd4e.chat-card.tool .card-content .flavour{
    background:var(--gradient-4e-item);
}
.chat-message.burble .dnd4e.chat-card.NPC .card-header{
    background-color:var(--background-npc);
}
.chat-message.burble .dnd4e.chat-card.NPC .card-content>p{
	background:#e7e6d4;
}
.chat-message.burble .dnd4e.chat-card .card-buttons{
	margin:unset;
}
.chat-message.burble.roll:not(.roll-table) .message-content{
	background:transparent;
	color:var(--colour-text-outside);
	padding:0;
}
.chat-message.burble.roll:not(.roll-table) .dice-roll{
	background:var(--background-container);
	color:var(--colour-text-inside);
	padding:0.3rem;
}
.chat-message.burble.item-piles .chat-portrait-message-header-generic .flavor-text img[src$=".svg"]{
	-webkit-filter:brightness(0);
	        filter:brightness(0);
}
.chat-message.burble.item-piles .chat-portrait-message-header-generic .flavor-text img{
    bottom:calc(-30px - 1em);
}
.chat-message.burble .dnd4e.chat-card.NPC .effects-tray{
	background:#fff;
}
.chat-message.burble .dnd4e.chat-card.NPC .effects-tray .roboto-upper{
	background:#e8e6d4;
}


/* Stupid Chat Portrait + Item Piles Bug Fix */
/*------------------------------------------------------------------*/
.chat-message .chat-portrait-message-header-generic .flavor-text.chat-portrait-text-size-name-generic{
	position:relative;
}
.chat-message .chat-portrait-message-header-generic .flavor-text.chat-portrait-text-size-name-generic img{
	position:absolute;
	bottom:calc(-23px - 1em);
	width:32px;
	height:32px;
}
.chat-message .chat-portrait-flexrow~.item-piles-chat-card>.item-piles-chat-card-title>p:first-child{
	margin-left:calc(40px);
}

/* Narrator Tools + DF Chat Combine Make Friends */
/*------------------------------------------------------------------*/
.chat-message.narrator-chat:not(.burble){
	border-radius:5px;
}
.chat-message.narrator-chat:is(.dfce-cm-top,.dfce-cm-middle,.dfce-cm-bottom){
	margin-bottom:3px;
}
.chat-message.narrator-chat:is(.dfce-cm-top,.dfce-cm-middle){
	padding-bottom:5px;
}
.chat-message.narrator-chat:is(.dfce-cm-bottom,.dfce-cm-middle){
	padding-top:5px;
}
.chat-message.narrator-chat:is(.narrator-description,.narrator-notification)+.narrator-narrative:is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat:is(.narrator-narrative,.narrator-notification)+.narrator-description:is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat:is(.narrator-description,.narrator-narrative)+.narrator-notification:is(.dfce-cm-middle,.dfce-cm-bottom){
	margin-top:3px;
}
.chat-message.narrator-chat:is(.narrator-narrative+.narrator-narrative):is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat:is(.narrator-notification+.narrator-notification):is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat:is(.narrator-description+.narrator-description):is(.dfce-cm-middle,.dfce-cm-bottom){
	margin-top:-10px;
	padding-top:10px;
}
#chat-log .chat-message.narrator-chat.burble{
    background:var(--gradient-4e);
}
#chat-log .chat-message.narrator-description.burble{
    background:var(--gradient-4e-item);
}
#chat-log .chat-message.narrator-notification.burble{
	background:#f3f3ed;
}
.chat-message.narrator-chat.burble{
    margin:8px;
	border-radius:0;
}
.chat-message.narrator-chat.burble .message-content{
    background:unset;
}
.chat-message.narrator-chat.burble.narrator-notification .message-content{
	color:#484a3d;
}
.chat-message.narrator-chat.burble:is(.narrator-description,.narrator-notification)+.narrator-narrative:is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat.burble:is(.narrator-narrative,.narrator-notification)+.narrator-description:is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat.burble:is(.narrator-description,.narrator-narrative)+.narrator-notification:is(.dfce-cm-middle,.dfce-cm-bottom){
	margin-top:0.5em;
}
.chat-message.narrator-chat.burble:is(.narrator-narrative+.narrator-narrative):is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat.burble:is(.narrator-notification+.narrator-notification):is(.dfce-cm-middle,.dfce-cm-bottom),
.chat-message.narrator-chat.burble:is(.narrator-description+.narrator-description):is(.dfce-cm-middle,.dfce-cm-bottom){
	margin-top:-11;
	padding-top:0;
}