.chat-message{
	background:none;
}
.chat-message:not(.whisper) .message-header{
	color:#dedede;
}
.chat-message:not(.narrator-narrative,.narrator-chat) .speechmaker~.message-content{
	border-radius:5px;
	padding:1rem;
	background:#fff;
	color:#000;
	margin-top:0.9rem;
}
.chat-message:not(.narrator-narrative,.narrator-chat) .speechmaker~.message-content::before{
	content:'\2BC5';
	font-size:20px;
	color:#fff;
	display:block;
	width:20px;
	height:20px;
	margin-top:-18px;
	line-height:0;
	margin-left:-9px;
}
.chat-message .message-content .chat-card{
	background:none;
}
.chat-message .message-content .dice-roll{
	background:url('../../../ui/parchment.jpg') repeat;
	padding:0 0.8em 0;
}
.chat-message.whisper .message-content .chat-card,
.chat-message.whisper .message-content .dice-roll{
	background:#e8e8ef;
}
.chat-message.whisper.blind .message-content .chat-card,
.chat-message.whisper.blind .message-content .dice-roll{
	background:#f5eaf5;
}
.chat-message:not(.whisper) .message-header{
	color:#cecece;
}
.chat-message .message-header .flavor-text{
	background:url('../../../ui/parchment.jpg') repeat;
	color:#000;
	padding:0.5em 0.8em;
	margin-top:0.5em;
}
.chat-message .dice-roll .dice-result>*{
	-ms-flex-preferred-size:100%;
	    flex-basis:100%;
}
.chat-message .dice-roll .dice-result>.flavor-text{
	padding:0;
	-ms-flex-preferred-size:50%;
	    flex-basis:50%;
	-webkit-box-flex:4;
	-ms-flex-positive:4;
	flex-grow:4;
	-ms-flex-negative:4;
	    flex-shrink:4;
	white-space:nowrap;
}
.dice-roll .hit-prediction::before,
.dice-roll .hit-prediction::before{
	display:inline-block;
	margin-right:2px;
	width:0.9em;
	height:0.9em;
	margin-bottom:-1px;
}
.dice-roll .hit-prediction.probable-hit::before{
	content:" ";
	background:url('../images/hit.svg') center bottom no-repeat;
}
.dice-roll .hit-prediction.probable-miss::before{
	content:" ";
	background:url('../images/miss.svg') center bottom no-repeat;
}
.dice-roll .hit-prediction.critical::before{
	content:" ";
	background:url('../images/hit-crit.svg') center bottom no-repeat;
	margin-top:-4px;
	margin-bottom:-3px;
	width:1.2em;
	height:1.2em;
}
.dice-roll .hit-prediction.critical{
	color:#00a846;
}
.dice-roll .dice-total.critical{
	color:#00a846;
}
.dice-roll .hit-prediction.fumble::before{
	content:" ";
	background:url('../images/miss-crit.svg') center bottom no-repeat;
	margin-top:-4px;
	margin-bottom:-3px;
	width:1.2em;
	height:1.2em;
}
.chat-message .message-header+.message-content>.dice-roll:first-child,
.chat-message .message-header+.message-content>h4+.dice-roll{
	padding-top:0;
	margin-top:-0.3em;
}
.chat-message .message-content .dice-roll ~ .dice-roll{
	margin-top:0.5em;
}
.chat-message .message-content .dice-roll ~ .dice-roll>.dice-result{
	margin-top:0.3em;
}
.chat-message .dice-roll .dice-formula,
.chat-message .dice-roll .dice-total{
	background:#fff;
	border-radius:0;
	border:none;
	margin-bottom:0;
}
.chat-message .dice-roll .dice-formula:not(.dice-tooltip){
	margin:0.3em -0.8em 0 -0.8em;
}
.chat-message .dice-roll .dice-total{
	margin:0 -0.55em 0 -0.55em;
}
.chat-message .dice-roll .dice-tooltip{
	margin:0 -0.8em 0 -0.8em;
	border-radius:0;
	background:rgba(255,255,255,0.5);
}
.chat-message .dice-roll .dice-formula:not(.dice-tooltip)+.dice-tooltip.expanded{
	margin:0 -0.8em 0 -0.8em;
	border-bottom:1px dashed #fff;
}
.chat-message .dice-roll .dice-tooltip .dice-rolls{
	padding:3px;
	margin:0;
}
.chat-message .dice-roll .dice-tooltip .part-header{
	border-bottom:1px dashed #fff;
}
.chat-message .dice-roll .dice-tooltip .part-header .part-formula{
	padding-left:0.3em;
}
.chat-message .dice-roll .dice-tooltip .part-header .part-total{
	border:none;
	background:#fff;
}
.dnd4eBeta.chat-card .card-buttons button,
.chat-message .fakechatbutton{
	background:url('../../../ui/parchment.jpg') repeat;
	color:#000;
}
.dnd4eBeta.chat-card .card-buttons button{
	margin:2px;
}
.chat-message .fakechatbutton:nth-child(odd):not(:last-child){
	margin-right:1px;
}
.chat-message .fakechatbutton:nth-child(even):not(:first-child){
	margin-left:1px;
}
h4.chat-portrait-flexrow{
	display:none;
}
.chat-message .message-sender{
	font-variant:normal;
	text-transform:uppercase;
	font-size:0.8em;
}
.chat-message .message-metadata{
	color:#919191;
}
.chat-message .message-metadata:hover,
.chat-message .message-metadata:active,
.chat-message .message-metadata:focus{
	color:#fff;
}
.chat-message .dnd4eBeta.chat-card.item-card{
	background:none;
}
.chat-message .message-header{
	line-height:1;
	position:relative;
}
.chat-message .message-header+.message-content>h4+.dice-roll:first-child .dice-result .flavor-text{
	margin-top:-0.3em;
}
.chat-message .message-content .table-description{
	background:#fff;
	padding:0.75em 0.75em 0.85em 0.75em;
	color:#000;
	border-top:0;
	font-size:1em;
}
.chat-message .table-draw .dice-roll .dice-formula{
	margin-top:0;
}
.chat-message .table-draw .table-results{
	margin-top:0;
}
.chat-message .table-draw .table-results .table-result{
	padding-left:0.2em;
	border-top:1px solid #fff;
	border-bottom:0;
}
.chat-message .table-draw .table-results .table-result:nth-child(odd){
	background:#d3d1ba;
}
.chat-message .table-draw .table-results .table-result:nth-child(even){
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
.chat-message .table-draw .table-results .table-result img{
	border:0;
}

/* Chat Portrait support! */

.message img.chat-portrait-message-portrait-generic{
	margin-bottom:0;
}
.chat-message .message-header.chat-portrait-message-header-generic .flavor-text,
.chat-message h4[class^="chat-portrait"]~.dnd4eBeta.chat-card{
	margin-top:0;
}

/* Enchanced Conditions support! */

.chat-message .enhanced-conditions.header{
	font-size:0.7em;
	background:url(../../../ui/parchment.jpg) repeat;
	color:#000;
	padding:0.5em 0.8em;
	margin-top:0.5em;
}
.chat-message .enhanced-conditions.header h3{
	border:none;
	padding:0;
	margin:0;
}
ul.chat-message.condition-list{	
	border:0;
	background:#fff;
	border-radius:0;
	margin:0;
	padding:2px;
}

/* Item Piles support! */

.chat-message .item-piles-chat-card{
	background:#fff;
	padding:0;
	color:#000;
}
.chat-message .item-piles-chat-card-title{
	padding:0.5rem;
}
.chat-message .item-piles-chat-card-title img{
	border:unset;
}
.chat-message .item-piles-chat-card ul{
	margin-top:-0.5rem;
	padding:0;
	list-style:none outside;
}
.chat-message .item-piles-chat-card ul li{
	border-radius:0;
	margin:0;
	border-top:1px solid #fff;
	height:1.8em;
	display:flex;
	align-items:center;
}
.chat-message .item-piles-chat-card ul li img{
	height:calc(100% - 5px);
	margin:2px;
	border:unset;
}
.chat-message .item-piles-chat-card ul li label{
	margin-right:4px;
	margin-left:2px;
}
.chat-message .item-piles-chat-card ul li:nth-child(odd){
	background:#d3d1ba;
}
.chat-message .item-piles-chat-card ul li:nth-child(even){
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
.chat-message .item-piles-chat-card .item-piles-chat-card-title img[src$="svg"],
.chat-message .chat-portrait-message-header-generic .flavor-text.chat-portrait-text-size-name-generic>.chat-portrait-image-size-name-generic[src$="svg"]{
	-webkit-filter:brightness(0);
	        filter:brightness(0);
}
