:root{
	text-rendering:optimizeLegibility;
	--font-primary:'DragonBodySans';
	--background-atwill:#619769;
	--background-encounter:#961334;
	--background-daily:#4d4d4f;
	--background-recharge:#70774f;
	--background-other:#193d5e;
	--background-item:#d7941d;
	--background-npc:#4e5c2e;
	--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	--gradient-4e-item:linear-gradient(90deg, #eed4ad 0%, #fff 100%);
	--background-container:#fff;
	--background-alternate:#69633c3d;
	--colour-text-inside:#484a3d;
	--background-row-odd:#d3d1ba;
	--background-row-even:var(--gradient-4e);
}
.app button{
	line-height:1;
	padding:0.5em;
}
.directory-header .action-buttons button{
	height:unset;
	line-height:1;
}
input[type='checkbox']:not(:disabled){
	cursor:pointer;
}
input[type='checkbox']:disabled{
	cursor:disabled;
}

/* Forms */
.window-app{
    --font-size-12:0.9rem;
}
.dnd4e.sheet .sheet-header .header-details{
    font-family:'DragonBodySans';
    font-size:1rem;
}
.sheet header.sheet-header h1 input,
.dnd4e .sheet-header .charname input{
    font-size:1.3rem;
}
.dnd4e.sheet.item .sheet-header .item-subtitle,
.dnd4e.sheet.item .sheet-header .item-subtitle .item-type,
.dnd4e.sheet.item .sheet-header .item-subtitle .item-status{
    font-size:0.8rem;
	text-transform:uppercase;
}
.dnd4e.sheet .sheet-navigation{
    font-family:'DragonBodySans';
    font-size:0.75rem;
	text-transform:uppercase;
}
.dnd4e.sheet.item .sheet-navigation .item{
    font-size:0.75rem;
}