/*-----------------------------*/
/*--General Stuff and Resets --*/
:root{
	--font-journal-body:'DragonBodySerif';
}
.sheet.journal-sheet{
	--background-page:#fff;
	--color-text-hyperlink:#193d5e;
	--colour-text-h1:#193d5e;
	--colour-text-h2:#193d5e;
	--colour-text-h3:#193d5e;
	--colour-text-hetc:#193d5e;
	--colour-banner-bg:#193d5e;
	--gradient-4e:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
		--gradient-4e:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
		--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
.sheet.journal-sheet.fox4e.gm-book{
	--color-text-hyperlink:#7f525b;
	--colour-text-h1:#7f525b;
	--colour-text-h2:#5b1f34;
	--colour-text-h3:#5b1f34;
	--colour-text-hetc:#7f525b;
	--colour-banner-bg:#5d1232;
}
.sheet.journal-sheet.fox4e.monster-book{
	--color-text-hyperlink:#777d57;
	--colour-text-h1:#70764e;
	--colour-text-h2:#4d5b2d;
	--colour-text-h3:#4d5b2d;
	--colour-text-hetc:#777d57;
	--colour-banner-bg:#4d5b2d;
}
.journal-page-content,
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	--font-primary:var(--font-journal-body);
	font-family:var(--font-journal-body);
	padding:1em;
	text-rendering:optimizeLegibility;
}
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	margin:0;
	padding:0 1em;
}
.journal-page-header+.journal-entry-page{
	padding-top:0;
}
.sheet.journal-entry .journal-entry-page+.journal-entry-page{
	margin-top:0;
}
.sheet.journal-entry .journal-entry-pages>.journal-entry-page:not(:last-child){
	padding-bottom:0;
}
.sheet.journal-sheet .journal-entry-content,
.editor.prosemirror,
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	background:var(--background-page);
}
.editor-content[data-engine="prosemirror"].ProseMirror::-webkit-scrollbar-thumb,
.sheet.journal-entry .scrollable::-webkit-scrollbar-thumb{
	background:#d3d1ba;
	border:none;
}
.editor-content[data-engine="prosemirror"].ProseMirror::-webkit-scrollbar-track,
.sheet.journal-entry .scrollable::-webkit-scrollbar-track{
	background:rgba(0,0,0,0.06);
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table thead tr:nth-child(even){
	background:none;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) :is(p,ol,ul,figure figcaption){
	line-height:1.1;
	font-size:1rem;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody{
	color:#000;
    border-bottom:unset;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody tr:nth-child(2n+1){
	background:unset;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) figure figcaption{
	font-weight:normal;
	font-style:italic;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) a:is(.content-link,.inline-roll){
	background:none;
	border:none;
	text-decoration:underline;
	padding:0;
	white-space:break-spaces;
	word-break:inherit;
	color:var(--color-text-hyperlink);
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) a:is(.content-link,.inline-roll) i{
	margin-right:0;
	font-size:0.75em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) :is(.fa-file-alt,.fa-file-lines,.fa-file-text)::before{
	content:unset;
}


/*-----------------------------*/
/*-- Headings and Beginnings --*/

.journal-sheet .journal-header{
	-webkit-box-flex:0;
	    -ms-flex:none;
	        flex:none;
	margin:1rem 0.4rem 0 -1px;
}
.sheet.journal-sheet .window-content input[type="text"].title,
.sheet.fox4e .window-content input[type="text"].title,
.sheet.journal-page-content .title{
	font-family:DragonTitle;
    font-size:2.8rem;
	background-color:var(--colour-banner-bg);
	color:#fff;
	padding:0.8rem 1.2rem;
	font-variant:normal;
	font-weight:bold;
	font-variant:small-caps;
	border-radius:0 20px 0 0;
	border:2px solid #c2ae41;
	border-left:none;
	margin-top:0;
    line-height:1;
    height:auto;
    text-align:left;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) :is(h1,h2,h3,h4,h5,h6):is(:not(:first-child),:first-child){
	color:var(--colour-text-hetc);
	font-family:'DragonHead';
	line-height:1;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h1:is(:not(:first-child),:first-child){
	color:var(--colour-text-h1);
	font-size:3.5em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:500;
	margin:1rem 0 0.5rem;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h2:is(:not(:first-child),:first-child){
	color:var(--colour-text-h2);
	font-size:2.6em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:bold;
	margin:1rem 0 0.5rem;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h3:is(:not(:first-child),:first-child){
	color:var(--colour-text-h3);
	font-size:2.2em;
	border-bottom:none;
	margin:1rem 0 0.5rem;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h4:is(:not(:first-child),:first-child){
	font-size:2em;
	margin:1rem 0 0.5rem;
	font-style:normal;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h5:is(:not(:first-child),:first-child){
	font-size:1.7em;
	font-weight:500;
	margin:1rem 0 0.5rem;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h6:is(:not(:first-child),:first-child){
	font-size:1.4em;
	margin:1rem 0 0.5rem;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) h1+p::first-letter{
    float:none;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    line-height:inherit;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) .first-words{
    font-family:DragonTitle;
    font-size:1.5em;
    font-weight:bold;
}
:is(.journal-page-content,.journal-page-header,.editor-enriched,.editor-content[data-engine="prosemirror"]) .flavour{
	background:var(--gradient-4e);
	font-family:'DragonbodySans';
	font-style:italic;
	color:#000;
}
.sheet.journal-sheet .journal-entry-page .journal-page-header{
	margin:1rem 0.8rem 0 0.8rem;
}
.sheet.journal-sheet .journal-entry-page .journal-page-header h1{
	margin:0;
}
.sheet.journal-sheet .journal-entry-page .journal-page-header+.journal-page-content{
	padding-top:0.2rem;
}

/*-----------*/
/*-- Lists --*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) ul{
  list-style:none outside;
  position:relative;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) ul li::before{
  display:block;
  margin-left:-1.3em;
  margin-right:0.4em;
  font-size:1em;
  content:'\2726';
  position:absolute;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) :is(ul,ol) li{
    margin-bottom:0.5em;
}

/*------------*/
/*-- Asides --*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .aside{
	background-color:#e8e5d4;
	padding:1.5em 2em;
	margin-bottom:1em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .aside h2{
	font-family:DragonTitle;
	font-weight:bold;
}

/*------------------*/
/*-- Rules Blocks --*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block{
	backgorund:var(--gradient-4e);
	padding:0.8em 1.2em;
	margin-bottom:1em;
	font-family:'DragonbodySans';
	max-width:500px;
	font-weight:300;
	color:#000;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block :is(p,ul,ol)+p{
    text-indent:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block :is(h1,h2,h3,h4,h5,h6){
	font-family:'DragonBodySans';
	color:#000;
	text-transform:uppercase;
	font-variant:unset;
	font-weight:bold;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block h2{
    font-size:1.2em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block h3{
    font-size:1.2em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block h4{
    font-size:1.1em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block h5{
    font-size:1.1em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block h6{
    font-size:1em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block.traits ul{
    font-size:1em;
    list-style-type:none outside;
    padding-left:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block.traits ul li::before{
    content:unset;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block.traits ul li{
    padding-left:1em;
    text-indent:-1em;
    margin-bottom:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .rules-block.traits ul li p{
    margin-top:0;
    margin-bottom:0.2em;
}

/*-----------------*/
/*---- Rituals ----*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) div.ritual{
	font-family:'DragonbodySans';
	max-width:500px;
	font-weight:300;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) div.ritual h1{
	font-family:'Dragonhead';
	font-size:1.8em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) div.ritual .flavour{
	font-style:oblique;
	background:unset;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) div.ritual>.basics{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) div.ritual>.basics>*{
	-ms-flex-preferred-size:48%;
	    flex-basis:48%;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .ritual .basics ul{
  position:static;
  padding-left:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .ritual .basics ul li::before{
  content:unset;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .ritual .basics ul li{
    margin-bottom:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) .ritual table{
	font-weight:400;
}


/*----------------*/
/*---- Tables ----*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table{
	font-family:'DragonbodySans';
	font-size:1rem;
	border-collapse:collapse;
	border:none;
	margin-top:1rem;
	margin-bottom:1rem;
	table-layout:auto;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table thead{
	border-bottom:0;
	text-shadow:unset;
	text-align:left;
	color:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table :is(th,td){
	padding:0.25em 0.6em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tr.subhead{
	color:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tr.flavour{
	backgorund:var(--gradient-4e);
	font-style:oblique;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody tr:nth-child(odd){
	backgorund:var(--gradient-4e);
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody tr:nth-child(even){
	background:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table :is(tr,td){
	border:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tfoot{
	font-size:0.8rem;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tfoot tr td{
	padding-left:4px;
	padding-right:4px;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody tr.has-rider td{
	padding-bottom:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tr.rider td{
	padding-top:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tr.rider:not(.final) td{
	padding-bottom:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tr.rider td:first-child{
	padding-left:1.5em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table tbody tr.white{
	background:#fff;
}


/*-------------------------*/
/*-- Generic Alternating --*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table:not(.power,.item,.hazard,.monster){
	border-collapse:collapse;
	border:none;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table:not(.power,.item,.hazard,.monster) tbody tr{
	border-bottom:2px solid rgba(255,255,255,0);
	position:relative;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table:not(.power,.item,.hazard,.monster) thead{
	background:var(--colour-banner-bg);
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(odd){
	background:#d3d1ba;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(even){
	background:var(--gradient-4e);
}

/*-------------------------*/
/*--------- Item ----------*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item{
	border-collapse:collapse;
	border:none;
	max-width:500px;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item :is(thead,tr.subhead){
	background:#d9951c;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item thead tr:first-child th:first-child{
	font-size:1.2rem;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item :is(thead,tr.subhead) td:not(:first-child){
	text-align:right;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item tr:is(.pricing,.detail){
	background:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.item :is(tr.pricing~tr.pricing,tr.detail~tr.detail) td{
	padding-top:0;
}

/*-------------------------*/
/*-------- Powers ---------*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power{
	border-collapse:collapse;
	border:none;
	max-width:500px;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.atwill thead{
	background:#619769;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.encounter thead{
	background:#961334;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.daily thead{
	background:#4d4d4f;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.item thead{
	background:#d9951c;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.recharge thead{
	background:#193d5e;
}
.:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power.misc thead{
	background:#9271a9;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power thead th:nth-child(2){
	font-size:0.85rem;
	font-weight:normal;
	text-align:right;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power thead th:first-child{
	font-size:1.2rem;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics{
	background:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics{
	background:#fff;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics:not(.final) td{
	padding-bottom:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics~tr.basics td{
	padding-top:0;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr:not(.basics,.white){
	backgorund:var(--gradient-4e);
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics .sep{
	margin-left:0.4em;
	margin-right:0.4em;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) table.power tbody tr.basics~tr.basics .sep{
	color:rgba(255,255,255,0);
	display:inline-block;
	width:1.5em;
}


/*----------------*/
/*-- Misc Other --*/
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) code{
	white-space:pre-wrap;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) img:not(.no-margin){
	margin-top:1rem;
	margin-bottom:1rem;
}
:is(.journal-page-content,.editor-content[data-engine="prosemirror"],.editor-enriched) img:not(.no-border){
	border:unset;
}


/*----------------*/
/*-- Third-party compatibility --*/
form.item-piles-flexcol{
	height:100%;
}
form.item-piles-flexcol .editor.prosemirror{
	background:#fff;
	padding:0.5em;
}