/*-----------------------------*/
/*--General Stuff and Resets --*/
:root{
	--font-journal-body:'DragonBodySerif';
}
.journal-page-content,
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	--font-primary:var(--font-journal-body);
	font-family:var(--font-journal-body);
	padding:1em;
	text-rendering:optimizeLegibility;
}
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	margin:0;
	padding:0 1em;
}
.journal-page-header+.journal-page-content{
	padding-top:0;
}
.sheet.journal-entry .journal-entry-page + .journal-entry-page{
	margin-top:0;
}
.sheet.journal-entry .journal-entry-pages>.journal-entry-page:not(:last-child){
	padding-bottom:0;
}
.sheet.journal-entry .journal-entry-content,
.editor.prosemirror,
.editor-content[data-engine="prosemirror"],
.editor-enriched{
	background:#fff;
}
.editor-content[data-engine="prosemirror"].ProseMirror::-webkit-scrollbar-thumb,
.sheet.journal-entry .scrollable::-webkit-scrollbar-thumb{
	background:#d3d1ba;
	border:none;
}
.editor-content[data-engine="prosemirror"].ProseMirror::-webkit-scrollbar-track,
.sheet.journal-entry .scrollable::-webkit-scrollbar-track{
	background:rgba(0,0,0,0.06);
}
.journal-page-content table thead tr:nth-child(even),
.editor-content[data-engine="prosemirror"] table thead tr:nth-child(even),
.editor-enriched table thead tr:nth-child(even){
	background:none;
}
.journal-page-content p,
.journal-page-content ol,
.journal-page-content ul,
.journal-page-content figure figcaption,
.editor-content[data-engine="prosemirror"] p,
.editor-content[data-engine="prosemirror"] ol,
.editor-content[data-engine="prosemirror"] ul,
.editor-content[data-engine="prosemirror"] figure figcaption,
.editor-enriched p,
.editor-enriched ol,
.editor-enriched ul,
.editor-enriched figure figcaption{
	line-height:1.1;
	font-size:1rem;
}
.journal-page-content table tbody tr:nth-child(2n+1),
.editor-content[data-engine="prosemirror"] table tbody tr:nth-child(2n+1),
.editor-enriched table tbody tr:nth-child(2n+1){
	background:unset;
}
.journal-entry-page figure figcaption,
.editor-content[data-engine="prosemirror"] figure figcaption,
.editor-enriched figure figcaption{
	font-weight:normal;
	font-style:italic;
}
.journal-page-content a.content-link,
.journal-page-content a.inline-roll,
.editor-content[data-engine="prosemirror"] a.content-link,
.editor-content[data-engine="prosemirror"] a.inline-roll,
.editor-enriched a.content-link,
.editor-enriched a.inline-roll{
	background:none;
	border:none;
	text-decoration:underline;
	padding:0;
	white-space:break-spaces;
	word-break:inherit;
	color:#12588f;
}
.journal-page-content a.content-link i,
.journal-page-content a.inline-roll i,
.editor-content[data-engine="prosemirror"] a.content-link i,
.editor-content[data-engine="prosemirror"] a.inline-roll i,
.editor-enriched a.content-link i,
.editor-enriched a.inline-roll i{
	margin-right:0;
}
.journal-page-content .fa-file-alt::before,
.journal-page-content .fa-file-lines::before,
.journal-page-content .fa-file-text::before,
.editor-content[data-engine="prosemirror"] .fa-file-alt::before,
.editor-content[data-engine="prosemirror"] .fa-file-lines::before,
.editor-content[data-engine="prosemirror"] .fa-file-text::before,
.editor-enriched .fa-file-alt::before,
.editor-enriched .fa-file-lines::before,
.editor-enriched .fa-file-text::before{
	content:unset;
}


/*-----------------------------*/
/*-- Headings and Beginnings --*/

.journal-sheet .journal-header{
	-webkit-box-flex:0;
	    -ms-flex:none;
	        flex:none;
	margin:1rem 1rem 0 -1px;
}
.sheet.journal-entry .journal-header .title,
.editable .journal-header .title,
.editor-enriched .journal-header .title{
	font-family:DragonTitle;
	background-color:#193d5e;
	color:#fff;
	padding:0.4em 0.8em;
	font-variant:normal;
	font-weight:bold;
	font-variant:small-caps;
	margin-bottom:0.4em;
	border-radius:0 20px 0 0;
	border:2px solid #c2ae41;
	border-left:none;
	margin-top:0;
}
.journal-page-content h2,
.journal-page-content h3,
.journal-page-content h4,
.journal-page-content h5,
.journal-page-content h6,
.editor-content[data-engine="prosemirror"] h2,
.editor-content[data-engine="prosemirror"] h3,
.editor-content[data-engine="prosemirror"] h4,
.editor-content[data-engine="prosemirror"] h5,
.editor-content[data-engine="prosemirror"] h6,
.journal-page-header h1,
.journal-page-header h2,
.journal-page-header h3,
.editor-enriched h2,
.editor-enriched h3,
.editor-enriched h4,
.editor-enriched h5,
.editor-enriched h6{
	color:#193d5e;
	font-family:'DragonHead';
}
.journal-page-content h1,
.editor-content[data-engine="prosemirror"] h1,
.editor-enriched h1{
	color:#193d5e;
	font-family:DragonTitle;
	font-size:2.7em;
	border-bottom:none;
	font-weight:bold;
	margin:1rem 0 0.5rem;
	font-variant:small-caps;
}
.journal-page-header h1{
	font-family:DragonTitle;
	font-size:2.7em;
	border-bottom:none;
	font-weight:bold;
	margin:0 0.5rem 0 0.5rem;
	font-variant:small-caps;
}
.journal-page-content h2,
.editor-content[data-engine="prosemirror"] h2,
.editor-enriched h2{
	font-size:2em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0 0.5rem;
}
.journal-page-header h2{
	font-size:2em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0 0.5rem;
	border-bottom:none;
}
.journal-page-content h3,
.editor-content[data-engine="prosemirror"] h3,
.editor-enriched h3{
	font-size:1.8em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0 0.5rem;
}
.journal-page-header h3{
	font-size:1.8em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0 0.5rem;
	border-bottom:none;
}
.journal-page-content h4,
.editor-content[data-engine="prosemirror"] h4,
.editor-enriched h4{
	font-size:1.7em;
	margin:1rem 0 0.5rem;
	font-weight:400;
}
.journal-page-content h5,
.editor-content[data-engine="prosemirror"] h5,
.editor-enriched h5{
	font-size:1.5em;
	margin:1rem 0 0.5rem;
	font-weight:400;
}
.journal-page-content h6,
.editor-content[data-engine="prosemirror"] h6,
.editor-enriched h6{
	font-size:1.35em;
	margin:1rem 0 0.5rem;
	font-weight:400;
}
.journal-page-content h1+p::first-letter{
    float:none;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    line-height:inherit;
}
.journal-page-content .first-words{
    font-family:DragonTitle;
    font-size:1.5em;
    font-weight:bold;
}
.journal-page-content .flavour,
.editor-content[data-engine="prosemirror"] .flavour,
.editor-enriched .flavour{
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	font-family:'DragonbodySans';
	font-style:italic;
}

/*-----------*/
/*-- Lists --*/
.journal-page-content ul,
.editor-content[data-engine="prosemirror"] ul,
.editor-enriched ul{
  list-style:none outside;
  position:relative;
}
.journal-page-content ul li::before,
.editor-content[data-engine="prosemirror"] ul li::before,
.editor-enriched ul li::before{
  display:block;
  margin-left:-1.3em;
  margin-right:0.4em;
  font-size:1em;
  content:'\2726';
  position:absolute;
}
.journal-page-content ul li,
.editor-content[data-engine="prosemirror"] ul li,
.editor-enriched ul li,
.journal-page-content ol li,
.editor-content[data-engine="prosemirror"] ol li,
.editor-enriched ol li{
    margin-bottom:0.5em;
}

/*------------*/
/*-- Asides --*/
.journal-page-content .aside,
.editor-content[data-engine="prosemirror"] .aside,
.editor-enriched .aside{
	background-color:#e8e5d4;
	padding:1.5em 2em;
	margin-bottom:1em;
}
.journal-page-content .aside h2,
.editor-content[data-engine="prosemirror"] .aside h2,
.editor-enriched .aside h2{
	font-family:DragonTitle;
	font-weight:bold;
}

/*------------------*/
/*-- Rules Blocks --*/
.journal-page-content .rules-block,
.editor-content[data-engine="prosemirror"] .rules-block,
.editor-enriched .rules-block{
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	padding:0.8em 1.2em;
	margin-bottom:1em;
	font-family:'DragonbodySans';
	max-width:500px;
	font-weight:300;
}
.journal-page-content .rules-block p+p,
.journal-page-content .rules-block ul+p,
.journal-page-content .rules-block ol+p,
.editor-content[data-engine="prosemirror"] .rules-block p+p,
.editor-content[data-engine="prosemirror"] .rules-block ul+p,
.editor-content[data-engine="prosemirror"] .rules-block ol+p,
.editor-enriched .rules-block p+p,
.editor-enriched .rules-block ul+p,
.editor-enriched .rules-block ol+p{
    text-indent:0;
}
.journal-page-content .rules-block h1,
.journal-page-content .rules-block h2,
.journal-page-content .rules-block h3,
.journal-page-content .rules-block h4,
.journal-page-content .rules-block h5,
.journal-page-content .rules-block h6,
.editor-content[data-engine="prosemirror"] .rules-block h1,
.editor-content[data-engine="prosemirror"] .rules-block h2,
.editor-content[data-engine="prosemirror"] .rules-block h3,
.editor-content[data-engine="prosemirror"] .rules-block h4,
.editor-content[data-engine="prosemirror"] .rules-block h5,
.editor-content[data-engine="prosemirror"] .rules-block h6,
.editor-enriched .rules-block h1,
.editor-enriched .rules-block h2,
.editor-enriched .rules-block h3,
.editor-enriched .rules-block h4,
.editor-enriched .rules-block h5,
.editor-enriched .rules-block h6{
	font-family:'DragonBodySans';
	color:#000;
	text-transform:uppercase;
	font-variant:unset;
	font-weight:bold;
}
.journal-page-content .rules-block h2,
.editor-content[data-engine="prosemirror"] .rules-block h2,
.editor-enriched .rules-block h2{
    font-size:1.2em;
}
.journal-page-content .rules-block h3,
.editor-content[data-engine="prosemirror"] .rules-block h3,
.editor-enriched .rules-block h3{
    font-size:1.2em;
}
.journal-page-content .rules-block h4,
.editor-content[data-engine="prosemirror"] .rules-block h4,
.editor-enriched .rules-block h4{
    font-size:1.1em;
}
.journal-page-content .rules-block h5,
.editor-content[data-engine="prosemirror"] .rules-block h5,
.editor-enriched .rules-block h5{
    font-size:1.1em;
}
.journal-page-content .rules-block h6,
.editor-content[data-engine="prosemirror"] .rules-block h6,
.editor-enriched .rules-block h6{
    font-size:1em;
}
.journal-page-content .rules-block.traits ul,
.editor-content[data-engine="prosemirror"] .rules-block.traits ul,
.editor-enriched .rules-block.traits ul{
    font-size:1em;
    list-style-type:none outside;
    padding-left:0;
}
.journal-page-content .rules-block.traits ul li::before,
.editor-content[data-engine="prosemirror"] .rules-block.traits ul li::before,
.editor-enriched .rules-block.traits ul li::before{
    content:unset;
}
.journal-page-content .rules-block.traits ul li,
.editor-content[data-engine="prosemirror"] .rules-block.traits ul li,
.editor-enriched .rules-block.traits ul li{
    padding-left:1em;
    text-indent:-1em;
    margin-bottom:0;
}
.journal-page-content .rules-block.traits ul li p,
.editor-content[data-engine="prosemirror"] .rules-block.traits ul li p,
.editor-enriched .rules-block.traits ul li p{
    margin-top:0;
    margin-bottom:0.2em;
}

/*-----------------*/
/*---- Rituals ----*/
.journal-page-content div.ritual,
.editor-content[data-engine="prosemirror"] div.ritual,
.editor-enriched div.ritual{
	font-family:'DragonbodySans';
	max-width:500px;
	font-weight:300;
}
.journal-page-content div.ritual h1,
.editor-content[data-engine="prosemirror"] div.ritual h1,
.editor-enriched div.ritual h1{
	font-family:'Dragonhead';
	font-size:1.8em;
}
.journal-page-content div.ritual .flavour,
.editor-content[data-engine="prosemirror"] div.ritual .flavour,
.editor-enriched div.ritual .flavour{
	font-style:oblique;
}
.journal-page-content div.ritual>.basics,
.editor-content[data-engine="prosemirror"] div.ritual>.basics,
.editor-enriched div.ritual>.basics{
	display:flex;
	justify-content:space-between;
}
.journal-page-content div.ritual>.basics>*,
.editor-content[data-engine="prosemirror"] div.ritual>.basics>*,
.editor-enriched div.ritual>.basics>*{
	flex-basis:48%;
}
.journal-page-content .ritual .basics ul,
.editor-content[data-engine="prosemirror"] .ritual .basics ul,
.editor-enriched .ritual .basics ul{
  position:static;
  padding-left:0;
}
.journal-page-content .ritual .basics ul li::before,
.editor-content[data-engine="prosemirror"] .ritual .basics ul li::before,
.editor-enriched .ritual .basics ul li::before{
  content:unset;
}
.journal-page-content .ritual .basics ul li,
.editor-content[data-engine="prosemirror"] .ritual .basics ul li,
.editor-enriched .ritual .basics ul li{
    margin-bottom:0;
}
.journal-page-content .ritual table,
.editor-content[data-engine="prosemirror"] .ritual table,
.editor-enriched .ritual table{
	font-weight:400;
}


/*----------------*/
/*---- Tables ----*/
.journal-page-content table,
.editor-content[data-engine="prosemirror"] table,
.editor-enriched table{
	font-family:'DragonbodySans';
	font-size:1rem;
	border-collapse:collapse;
	border:none;
	margin-top:1rem;
	margin-bottom:1rem;
}
.journal-page-content table thead,
.editor-content[data-engine="prosemirror"] table thead,
.editor-enriched table thead{
	border-bottom:0;
	text-shadow:unset;
	text-align:left;
	color:#fff;
}
.journal-page-content table th,
.journal-page-content table td,
.editor-content[data-engine="prosemirror"] th,
.editor-content[data-engine="prosemirror"] td,
.editor-enriched th,
.editor-enriched td{
	padding:0.25em 0.6em;
}
.journal-page-content table tr.subhead,
.editor-content[data-engine="prosemirror"] table tr.subhead,
.editor-enriched table tr.subhead{
	color:#fff;
}
.journal-page-content table tr.flavour,
.editor-content[data-engine="prosemirror"] table tr.flavour,
.editor-enriched table tr.flavour{
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	font-style:oblique;
}
.journal-page-content table tbody tr:nth-child(odd),
.editor-content[data-engine="prosemirror"] table tbody tr:nth-child(odd),
.editor-enriched table tbody tr:nth-child(odd){
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
.journal-page-content table tbody tr:nth-child(even),
.editor-content[data-engine="prosemirror"] table tbody tr:nth-child(even),
.editor-enriched table tbody tr:nth-child(even){
	background:#fff;
}
.journal-page-content table tr,
.journal-page-content table td,
.editor-content[data-engine="prosemirror"] table tr,
.editor-content[data-engine="prosemirror"] table td,
.editor-enriched table tr,
.editor-enriched table td{
	border:0;
}
.journal-page-content table tfoot,
.editor-content[data-engine="prosemirror"] table tfoot,
.editor-enriched table tfoot{
	font-size:0.8rem;
}
.journal-page-content table tfoot tr td,
.editor-content[data-engine="prosemirror"] table tfoot tr td,
.editor-enriched table tfoot tr td{
	padding-left:4px;
	padding-right:4px;
}
.journal-page-content table tbody tr.has-rider td,
.editor-content[data-engine="prosemirror"] table tbody tr.has-rider td,
.editor-enriched table tbody tr.has-rider td{
	padding-bottom:0;
}
.journal-page-content table tr.rider td,
.editor-content[data-engine="prosemirror"] table tr.rider td,
.editor-enriched table tr.rider td{
	padding-top:0;
}
.journal-page-content table tr.rider:not(.final) td,
.editor-content[data-engine="prosemirror"] table tr.rider:not(.final) td,
.editor-enriched table tr.rider:not(.final) td{
	padding-bottom:0;
}
.journal-page-content table tr.rider td:first-child,
.editor-content[data-engine="prosemirror"] table tr.rider td:first-child,
.editor-enriched table tr.rider td:first-child{
	padding-left:1.5em;
}
.journal-page-content table tbody tr.white,
.editor-content[data-engine="prosemirror"] table tbody tr.white,
.editor-enriched table tbody tr.white{
	background:#fff;
}


/*-------------------------*/
/*-- Generic Alternating --*/
.journal-page-content table:not(.power,.item,.hazard,.monster),
.editor-content[data-engine="prosemirror"] table:not(.power,.item,.hazard,.monster),
.editor-enriched table:not(.power,.item,.hazard,.monster){
	border-collapse:collapse;
	border:none;
}
.journal-page-content table:not(.power,.item,.hazard,.monster) tbody tr,
.editor-content[data-engine="prosemirror"] table:not(.power,.item,.hazard,.monster) tbody tr,
.editor-enriched table:not(.power,.item,.hazard,.monster) tbody tr{
	border-bottom:2px solid rgba(255,255,255,0);
	position:relative;
}
.journal-page-content table:not(.power,.item,.hazard,.monster) thead,
.editor-content[data-engine="prosemirror"] table:not(.power,.item,.hazard,.monster) thead,
.editor-enriched table:not(.power,.item,.hazard,.monster) thead{
	background:#193d5e;
}
.journal-page-content table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(odd),
.editor-content[data-engine="prosemirror"] table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(odd),
.editor-enriched table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(odd){
	background:#d3d1ba;
}
.journal-page-content table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(even),
.editor-content[data-engine="prosemirror"] table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(even),
.editor-enriched table:not(.power,.item,.hazard,.monster) tbody tr:nth-child(even){
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}

/*-------------------------*/
/*--------- Item ----------*/
.journal-page-content table.item,
.editor-content[data-engine="prosemirror"] table.item,
.editor-enriched table.item{
	border-collapse:collapse;
	border:none;
	max-width:500px;
}
.journal-page-content table.item thead,
.journal-page-content table.item tr.subhead,
.editor-content[data-engine="prosemirror"] table.item thead,
.editor-content[data-engine="prosemirror"] table.item tr.subhead,
.editor-enriched table.item thead,
.editor-enriched table.item tr.subhead{
	background:#d9951c;
}
.journal-page-content table.item thead tr:first-child th:first-child,
.editor-content[data-engine="prosemirror"] table.item thead tr:first-child th:first-child,
.editor-enriched table.item thead tr:first-child th:first-child{
	font-size:1.2rem;
}
.journal-page-content table.item thead td:not(:first-child),
.journal-page-content table.item tr.subhead td:not(:first-child),
.editor-content[data-engine="prosemirror"] table.item thead td:not(:first-child),
.editor-content[data-engine="prosemirror"] table.item tr.subhead td:not(:first-child),
.editor-enriched table.item thead td:not(:first-child),
.editor-enriched table.item tr.subhead td:not(:first-child){
	text-align:right;
}
.journal-page-content table.item tr.pricing,
.journal-page-content table.item tr.detail,
.editor-content[data-engine="prosemirror"] table.item tr.pricing,
.editor-content[data-engine="prosemirror"] table.item tr.detail,
.editor-enriched table.item tr.pricing,
.editor-enriched table.item tr.detail{
	background:#fff;
}
.journal-page-content table.item tr.pricing~tr.pricing td,
.journal-page-content table.item tr.detail~tr.detail td,
.editor-content[data-engine="prosemirror"] table.item tr.pricing~tr.pricing td,
.editor-content[data-engine="prosemirror"] table.item tr.detail~tr.detail td,
.editor-enriched table.item tr.pricing~tr.pricing td,
.editor-enriched table.item tr.detail~tr.detail td{
	padding-top:0;
}

/*-------------------------*/
/*-------- Powers ---------*/
.journal-page-content table.power,
.editor-content[data-engine="prosemirror"] table.power,
.editor-enriched table.power{
	border-collapse:collapse;
	border:none;
	max-width:500px;
}
.journal-page-content table.power.atwill thead,
.editor-content[data-engine="prosemirror"] table.power.atwill thead,
.editor-enriched table.power.atwill thead{
	background:#619769;
}
.journal-page-content table.power.encounter thead,
.editor-content[data-engine="prosemirror"] table.power.encounter thead,
.editor-enriched table.power.encounter thead{
	background:#961334;
}
.journal-page-content table.power.daily thead,
.editor-content[data-engine="prosemirror"] table.power.daily thead,
.editor-enriched table.power.daily thead{
	background:#4d4d4f;
}
.journal-page-content table.power.item thead,
.editor-content[data-engine="prosemirror"] table.power.item thead,
.editor-enriched table.power.item thead{
	background:#d9951c;
}
.journal-page-content table.power.recharge thead,
.editor-content[data-engine="prosemirror"] table.power.recharge thead,
.editor-enriched table.power.recharge thead{
	background:#193d5e;
}
.journal-page-content table.power.misc thead,
.editor-content[data-engine="prosemirror"] table.power.misc thead,
.editor-enriched table.power.misc thead{
	background:#9271a9;
}
.journal-page-content table.power thead th:nth-child(2),
.editor-content[data-engine="prosemirror"] table.power thead th:nth-child(2),
.editor-enriched table.power thead th:nth-child(2){
	font-size:0.85rem;
	font-weight:normal;
	text-align:right;
}
.journal-page-content table.power thead th:first-child,
.editor-content[data-engine="prosemirror"] table.power thead th:first-child,
.editor-enriched table.power thead th:first-child{
	font-size:1.2rem;
}
.journal-page-content table.power tbody tr.basics,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics,
.editor-enriched table.power tbody tr.basics{
	background:#fff;
}
.journal-page-content table.power tbody tr.basics,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics,
.editor-enriched table.power tbody tr.basics{
	background:#fff;
}
.journal-page-content table.power tbody tr.basics:not(.final) td,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics:not(.final) td,
.editor-enriched table.power tbody tr.basics:not(.final) td{
	padding-bottom:0;
}
.journal-page-content table.power tbody tr.basics~tr.basics td,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics~tr.basics td,
.editor-enriched table.power tbody tr.basics~tr.basics td{
	padding-top:0;
}
.journal-page-content table.power tbody tr:not(.basics,.white),
.editor-content[data-engine="prosemirror"] table.power tbody tr:not(.basics,.white),
.editor-enriched table.power tbody tr:not(.basics,.white){
	background:-webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), to(rgba(221,220,203,1)));
	background:-o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	background:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
.journal-page-content table.power tbody tr.basics .sep,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics .sep,
.editor-enriched table.power tbody tr.basics .sep{
	margin-left:0.4em;
	margin-right:0.4em;
}
.journal-page-content table.power tbody tr.basics~tr.basics .sep,
.editor-content[data-engine="prosemirror"] table.power tbody tr.basics~tr.basics .sep,
.editor-enriched table.power tbody tr.basics~tr.basics .sep{
	color:rgba(255,255,255,0);
	display:inline-block;
	width:1.5em;
}


/*----------------*/
/*-- Misc Other --*/
.journal-page-content code,
.editor-content[data-engine="prosemirror"] code,
.editor-enriched code{
	white-space:pre-wrap;
}
.journal-page-content img:not(.no-margin),
.editor-content[data-engine="prosemirror"] img:not(.no-margin),
.editor-enriched img:not(.no-margin){
	margin-top:1rem;
	margin-bottom:1rem;
}
.journal-page-content img:not(.no-border),
.editor-content[data-engine="prosemirror"] img:not(.no-border),
.editor-enriched img:not(.no-border){
	border:unset;
}


/*----------------*/
/*-- Third-party compatibility --*/
form.item-piles-flexcol{
	height:100%;
}
form.item-piles-flexcol .editor.prosemirror{
	background:#fff;
	padding:0.5em;
}