:root{
	--background-page:#49494b;
	--colour-text-link:#8e97b2;
	--colour-text-heading:#8e97b2;
}

/*---- NPC Sheets ----*/
.sheet.fox4e.npc .window-content a:hover,
.sheet.fox4e.npc button{
	color:#000;
}
.sheet.fox4e.npc input[type="checkbox"]:input(.covered){
	-webkit-filter:unset;
	        filter:unset;
	opacity:1;
}
.sheet.fox4e.npc .editable .rollable:hover,
.sheet.fox4e.npc .rollable:hover{
	color:#000;
}

/*---- PC Sheets ----*/
.sheet.fox4e.actor.pc .sheet-body{
	background:inherit;
}