/***************************************************/
/*         ALL SHEETS                              */
/***************************************************/

/*---------- All Sections ----------*/
.sheet.fox4e .window-content{
	text-rendering:optimizeLegibility;
	--font-primary:'DragonBodySans';
	font-family:var(--font-primary);
	padding:0;
	height:100%;
	overflow:hidden;
}
.sheet.fox4e .window-content input{
	font-family:var(--font-primary);
	padding:0;
	height:auto;
	background:none;
	border:unset;
	margin:auto;
}
.sheet.fox4e .window-content input,
.sheet.fox4e .window-content input[type="text"],
.sheet.fox4e .window-content input[type="number"],
.sheet.fox4e .window-content input[type="password"],
.sheet.fox4e .window-content input[type="date"],
.sheet.fox4e .window-content input[type="time"],
.sheet.fox4e .window-content input[type="search"],
.sheet.fox4e .window-content input[type='checkbox']{
	min-width:6px;
	border:0;
	display:inline-block;
	background:white;
	padding:0em 0.3em;
	color:#000;
}
.sheet.fox4e .window-content input[type='checkbox']{
	height:0.8rem;
	vertical-align:middle;
}
.sheet.fox4e .window-content h1,
.sheet.fox4e .window-content h2,
.sheet.fox4e .window-content h3,
.sheet.fox4e .window-content h4,
.sheet.fox4e .window-content h5,
.sheet.fox4e .window-content h6{
	border-bottom:none;
	margin-bottom:0;
}
.sheet.fox4e .window-content p{
	min-height:unset;
}
.sheet.fox4e .window-content .label{
	font-weight:bold;
}
.sheet.fox4e .window-content .placeholder{
	opacity:0.6;
}
.sheet.fox4e .window-content .placeholder:not(:only-child){
	display:none;
}
.sheet.fox4e .window-content .image-frame:hover .hover-icon{
	display:block;
}
.sheet.fox4e .window-content .image-frame .hover-icon{
	display:none;
	position:absolute;
	right:0px;
	bottom:0px;
	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color:white;
}
.sheet.fox4e .window-content .cover{
	position:relative;
	cursor:pointer;
	display:inline-block;
}
.sheet.fox4e .window-content .covered{
	opacity:0;
	position:absolute;
	width:100%;
	height:1.4em;
	overflow:hidden;
	cursor:pointer;
}
.sheet.fox4e .window-content .covered:active option,
.sheet.fox4e .window-content .covered:focus option,
.sheet.fox4e .window-content .covered:focus-within option{
	opacity:1;
}
.sheet.fox4e .window-content .autosize{
	position:relative;
	display:inline-block;
}
.sheet.fox4e .window-content .autosize>input{
	position:absolute;
	width:100%;
	height:100%;
	padding:0;
	display:inline-block;
	-webkit-filter:opacity(0);
	        filter:opacity(0);
}
.sheet.fox4e .window-content .autosize .ruler{
	pointer-events:none;
}
.sheet.fox4e .window-content .autosize input:focus{
	-webkit-filter:opacity(100);
	        filter:opacity(100);
}
.sheet.fox4e .window-content .autosize input:focus+.ruler{
	opacity:0;
}
.sheet.fox4e .window-content .flatrow{
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.sheet.fox4e .window-content .flatrow>*:not(:last-child){
	margin-right:0.2em;
}
.sheet.fox4e .roll-d20{
	cursor:url('../images/cursor_roll-d20.svg'), auto;
}

/*---------- Item Lists ----------*/
.sheet.fox4e .items-list li{
	width:100%;
}
.sheet.fox4e .item-header{
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.sheet.fox4e img.item-image{
	border:none;
	max-width:1em;
	height:100%;
	-o-object-fit:contain;
	   object-fit:contain;
	margin-right:2px;
}
.sheet.fox4e .item-name{
	-webkit-box-flex:2;
	    -ms-flex-positive:2;
	        flex-grow:2;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.sheet.fox4e .item-name h4{
	margin:0;
	font-weight:bold;
	display:inline-block;
}
.sheet.fox4e .item-body h1,
.sheet.fox4e .item-body h2,
.sheet.fox4e .item-body h3,
.sheet.fox4e .item-body h4,
.sheet.fox4e .item-body h5,
.sheet.fox4e .item-body h6{
	margin-top:0.2em;
	line-height:1;
}
.sheet.fox4e .item-body h1{
	font-size:1.4em;
	font-variant:small-caps;
	font-weight:bold;	
}
.sheet.fox4e .item-body h2{
	font-size:1.2em;
	font-variant:small-caps;
	font-weight:bold;
}
.sheet.fox4e .item-body h3{
	font-size:1.1em;
	font-weight:bold;
}
.sheet.fox4e .item-body h4{
	font-style:italic;
	font-weight:bold;
}
.sheet.fox4e .item-body h5{
	font-size:0.9em;
	font-style:italic;
	font-weight:bold;
}
.sheet.fox4e .item-body h6{
	font-size:0.8em;
	font-style:italic;
}
.sheet.fox4e .item-detail{
	text-transform:uppercase;
	text-align:center;
	font-size:0.7rem;
}
.sheet.fox4e .item-controls a:not(.active) .fas{
	opacity:0.3;
}
.sheet.fox4e .item-controls a .fas:focus,
.sheet.fox4e .item-controls a .fas:active,
.sheet.fox4e .item-controls a .fas:hover{
	opacity:1;
}


/***************************************************/
/*         ACTOR SHEETS                            */
/***************************************************/

/*---------- All Sections ----------*/
.sheet.fox4e.actor .window-content{
	padding:0;
	height:100%;
	overflow:hidden;
}
.sheet.fox4e.actor .window-content ::-webkit-scrollbar-thumb{
	background:#d3d1ba;
	border:none;
}
.sheet.fox4e.actor .window-content ::-webkit-scrollbar-track{
	background:rgba(0,0,0,0.06);
}
.sheet.fox4e.actor .window-content form{
	height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}
.sheet.fox4e.actor .window-content .flexrow,
.sheet.fox4e.actor .window-content .flexcol{
	-ms-flex-wrap:nowrap;
	    flex-wrap:nowrap;
}
.sheet.fox4e.actor .window-content .flexrow>*,
.sheet.fox4e.actor .window-content .flexcol>*{
	-webkit-box-flex:unset;
	    -ms-flex:unset;
	        flex:unset;
}
.sheet.fox4e.actor .window-content .editor{
	height:100%;
}