/*---- Buttons ----*/
div.tah-style-dnd4e-style{
	--font-primary:'DragonBodySans';
	--background-atwill:#619769;
	--background-encounter:#961334;
	--background-daily:#4d4d4f;
	--background-recharge:#70774f;
	--background-other:#193d5e;
	--background-item:#d7941d;
	--background-npc:#4e5c2e;
	--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	--gradient-4e-item:linear-gradient(90deg, #eed4ad 0%, #fff 100%);
	--background-row-odd:#d3d1ba;
	--background-row-even:var(--gradient-4e);
}
div.tah-action{
	padding:0;
	border-radius:3px;
}
div.tah-action button,
.tah-title-button{
	margin-left:0;
	color:#fff;
	padding-right:6px;
}
.force-ability-usage--atwill{
	background:var(--background-atwill) !important;
	text-shadow:unset;
}
.force-ability-usage--encounter{
	background:var(--background-encounter) !important;
	text-shadow:unset;
}
.force-ability-usage--daily{
	background:var(--background-daily) !important;
	text-shadow:unset;
}
.force-ability-usage--item{
	background:var(--background-item) !important;
	text-shadow:unset;
}
.force-ability-usage--recharge{
	background:var(--background-recharge) !important;
	text-shadow:unset;
}
.force-ability-usage--other{
	background:var(--background-other) !important;
	text-shadow:unset;
}


/*------------------------------------------------------------------*/
/* ---- TAH TOOLTIPS ---------------------------------------------- */
/*------------------------------------------------------------------*/

/* ---- General ---- */
/*------------------------------------------------------------------*/
.tah-tooltip-wrapper{
	--font-primary:'DragonBodySans';
	--background-atwill:#619769;
	--background-encounter:#961334;
	--background-daily:#4d4d4f;
	--background-recharge:#70774f;
	--background-other:#193d5e;
	--background-item:#d7941d;
	--background-npc:#4e5c2e;
	--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
	--gradient-4e-item:linear-gradient(90deg, #eed4ad 0%, #fff 100%);
	--background-row-odd:#d3d1ba;
	--background-row-even:var(--gradient-4e);
}
.tah-4etooltip{
	background:var(--gradient-4e);
	font-family:var(--font-primary);
	color:#000;
	line-height:1;
	margin:-7px -9px;
	text-align:left;
}
.tah-4etooltip p{
	margin:0;
	padding:0.15em 0.3em 0.15em 0.3em;
}
.tah-4etooltip .item-summary a.content-link:not(.broken),
.tah-4etooltip .item-summary a.inline-roll:not(.broken){
	border:0;
	background:0;
	padding:0;
	text-decoration:underline;
	-webkit-text-decoration-style:dotted;
	        text-decoration-style:dotted;
	text-indent:0;
	white-space:initial;
	word-break:initial;
	color:#5d1232;
}
.tah-4etooltip .item-summary a.inline-roll{
	font-weight:700;
}
.tah-4etooltip .item-summary a.inline-result i{
	display:none;
}
.tah-4etooltip .item-summary a.inline-roll i{
	text-indent:0;
	margin-right:1px;
}
.tah-4etooltip .item-summary>p,
.tah-4etooltip .item-description>:is(span,p,div){
	margin:0;
	display:block;
	width:100%;
}
.tah-4etooltip :is(.item-description,.item-details)>span,
.tah-4etooltip .item-description p{
	padding:0.1em 0.3em 0.1em 0.3em;
}
.tah-4etooltip :is(.item-description,.item-details)>span,
.tah-4etooltip .item-description p,
.tah-4etooltip .item-summary :is(.flavour,.flavor,.chat-flavour,.chat-flavor){
	background:var(--gradient-4e);
}
.tah-4etooltip .item-description{
	padding:0.1em 0.3em 0.1em 0.3em;
	font-style:oblique;
}
.tah-4etooltip .item-description>p,
.tah-4etooltip .item-description+.item-details{
	font-style:normal;
}
.tah-4etooltip .item-description>p{
	margin:-0.1em -0.3em -0.1em -0.3em;
}
.tah-4etooltip .item-summary :is(.basics,.power-basics,.basics+br+span,.target,.attack,.trigger,.requirements){
	display:block;
	background:#fff;
	text-align:left;
}
.tah-4etooltip .item-summary :is(.basics,.power-basics,.basics+br+span,.target,.attack,.trigger,.requirements){
	padding-bottom:0;
}
.tah-4etooltip .item-summary :is(.basics,.power-basics,.basics+br+span,.target,.attack,.trigger,.requirements)+:is(.basics,.power-basics,.basics+br+span,.target,.attack,.trigger,.requirements){
	padding-top:0;
}
.tah-4etooltip .item-summary :is(.basics,.power-basics,.basics+br+span,.target,.attack,.trigger,.requirements)+:is(.hit,.effect){
	border-top:0.1em solid #fff;
}
.tah-4etooltip .item-summary :is(.basics,.basics+br+span){
	font-weight:bold;
}
.tah-4etooltip .item-summary .alt-highlight:nth-child(odd of .alt-highlight){
	background:var(--gradient-4e);
}
.tah-4etooltip .item-summary :is(.white,.alt-highlight:nth-child(even of .alt-highlight)){
	background:#fff;
}
.tah-4etooltip .item-details .basics{
	padding-bottom:0;
}
.tah-4etooltip .item-details .basics+br+span{
	padding-top:0;
}
.tah-4etooltip .item-details .basics *{
	background:unset;
}
.tah-4etooltip .item-details .basics+br{
	display:none;
}
.tah-4etooltip .item-details .basics+br+span span:first-child::after{
	content:'\2003';
	display:inline-block;
	width:1.1em;
}
.tah-4etooltip .item-summary>:is(ol,ul){
	margin:0;
	padding:0.1em 0.3em 0.1em 1.8em;
	background:var(--gradient-4e);
}
.tah-4etooltip .item-summary>ul{
  list-style:none outside;
  position:relative;
}
.tah-4etooltip .item-summary>ul li::before{
  display:block;
  margin-left:-1em;
  margin-right:0.4em;
  font-size:1em;
  content:'\2726';
  position:absolute;
}
.tah-4etooltip .item-properties{
	font-size:0.85em;
	padding:0.1em 0.3em 0.1em 0.3em;
	background:#d2d1ba;
}
.tah-4etooltip .item-properties span:not(:last-child)::after{
	content:'\0020\00b7\0020';
}
.tah-4etooltip table{
	border:unset;
	color:#000;
}
.tah-4etooltip table td,
.tah-4etooltip table th{
    padding:2px 5px;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) thead{
	background:#193d5e;
	color:#fff;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tr:not(:first-child){
	border-top:1px solid #fff;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tr:not(:last-child){
	border-bottom:1px solid #fff;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tbody:not(:first-child) tr{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) td{
	border:none;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tr:nth-child(odd){
	background:#d3d1ba;
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tr:nth-child(even){
	background:var(--gradient-4e);
}
.tah-4etooltip table:not(.power,.item,.hazard,.monster) tfoot{
   font-size:0.85em;
}