.visual-active-effects.panel{
	--font-primary:'DragonBodySans';
	--vae-name-font:'DragonBodySans';
	--gradient-4e:linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(221,220,203,1) 100%);
}
#visual-active-effects .effect-info{
	border-left:unset;
	margin-right:0.5rem;
	margin-top:-0.4rem;
    padding:0;
	background:var(--gradient-4e);
	color:#000;
}
#visual-active-effects h1.effect-info-header{
    background:#5d1232;
    color:#fff;
    padding:0.5rem;
	border:unset;
}
#visual-active-effects h1.effect-info-header .effect-tags{
	margin-bottom:0;
}
#visual-active-effects h1.effect-info-header .name{
    font-size:0.5em;
	text-transform:none;
}
.visual-active-effects.panel .effect-intro,
.visual-active-effects.panel .collapsible-content{
	font-family:var(--font-primary);
	font-style:revert;
	color:#000;
	padding:0 0.5rem 0.5rem;
}
.visual-active-effects.panel .effect-intro p{
	margin:0.1rem 0.3rem;
}
.visual-active-effects.panel .effect-intro p:not:first-child{
	text-indent:0.5em;
}
.visual-active-effects.panel .effect-intro ul,
.visual-active-effects.panel .collapsible-content ul{
  list-style:none outside;
  position:relative;
}
.visual-active-effects.panel .effect-intro ul li::before,
.visual-active-effects.panel .collapsible-content ul li::before{
  display:block;
  margin-left:-1.3em;
  margin-right:0.4em;
  font-size:1em;
  content:'\2726';
  position:absolute;
}
.visual-active-effects.panel .effect-info-details{
	line-height:1;
	color:#000;
}
.visual-active-effects.panel .effect-info-details h2,
.visual-active-effects.panel .effect-info-details h3,
.visual-active-effects.panel .effect-info-details h4,
.visual-active-effects.panel .effect-info-details h5,
.visual-active-effects.panel .effect-info-details h6{
	color:var(--colour-text-heading);
	font-family:'DragonHead';
}
.visual-active-effects.panel .effect-info-details h1{
	color:var(--colour-text-heading);
	font-family:DragonTitle;
	font-size:2.5em;
	border-bottom:none;
	font-weight:bold;
	margin:1rem 0.3rem 0.5rem;
	font-variant:small-caps;
}
.visual-active-effects.panel .effect-info-details h2{
	font-size:1.8em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0.3rem 0.5rem;
}
.visual-active-effects.panel .effect-info-details h3{
	font-size:1.6em;
	font-variant:small-caps;
	border-bottom:none;
	font-weight:600;
	margin:1rem 0.3rem 0.5rem;
}
.visual-active-effects.panel .effect-info-details h4{
	font-size:1.5em;
	margin:1rem 0.3rem 0.5rem;
	font-weight:400;
}
.visual-active-effects.panel .effect-info-details h5{
	font-size:1.3em;
	margin:1rem 0.3rem 0.5rem;
	font-weight:400;
}
.visual-active-effects.panel .effect-info-details h6{
	font-size:1.1em;
	margin:1rem 0.3rem 0.5rem;
	font-weight:400;
}
#tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper p{
	color:#000;
}