
{{#if (hasTraits sections)}}
<section class="traits">
	<h2 class="subsection">{{localize 'Fox4e.GroupTraits'}}</h2>
	<ul>
	{{#each sections as |section sid|}}
		{{#unless (eq section.dataset.type "destinyFeats")}}
			<li class="items-header sublist-header {{section.label}}">
				<h3 class="item-name name subsection">{{localize section.label}}</h3>
		
				{{#if section.columns}}
					{{#each section.columns}}
						<div class="item-detail {{css}}">{{label}}</div>
					{{/each}}
				{{/if}}
		
				{{#if ../owner}}
				<div class="item-controls flexrow">
					<a class="item-control item-create" title="{{localize 'DND4EBETA.Add'}} {{localize 'Fox4e.Trait'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
						<i class="fas fa-plus"></i> {{localize "DND4EBETA.Add"}}
					</a>
				</div>
				{{/if}}
		
				<ul class="item-list feature-list sublist">
					{{#each section.items as |item iid|}}
					<li class="item" data-item-id="{{item._id}}">
						<div class="item-header flexrow">
							<div class="item-name rollable flexrow">
								<img class="item-image" src="{{item.img}}" height="16" width="16" title="{{localize 'Fox4e.TipSendChat'}}" />
								<h4 class="item-image name" title="{{localize 'Fox4e.TipSendChat'}}">{{#if item.system.level}}[{{item.system.level}}]{{/if}}{{item.name}}</h4>
							</div>
			
							{{#if section.columns}}
								{{#each section.columns}}
									<div class="item-detail {{css}}">
										{{#with (getProperty item property)}}
											{{#if ../editable}}
												<input type="text" value="{{this}}" placeholder="&mdash;"
														data-dtype="{{../editable}}">
											{{else}}
												{{this}}
											{{/if}}
										{{/with}}
									</div>
								{{/each}}
							{{/if}}
							
			
							{{#if ../../owner}}
							<div class="item-controls flexrow">
								{{#if section.crewable}}
								<a class="item-control item-toggle {{item.toggleClass}}"
									title="{{item.toggleTitle}}">
									<i class="fas fa-sun"></i>
								</a>
								{{/if}}
								<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
							</div>
							{{/if}}
						</div>
						
					<div class="item-body">{{{item.system.description.value}}}</div>
						
					</li>
					{{/each}}
				</ul>
		
			</li>
			{{/unless}}
			{{/each}}
	</ul>
</section>
{{/if}}