<div class="tab-title">
	<h2>{{localize 'Fox4e.Basics'}}</h2>
</div>

<div class="flexrow responsive two-up">
	<div class="column">
		{{!-- Abilities --}}
		<section class="ability-scores">
			<h3>{{localize 'DND4E.AbilityScores'}}</h3>
			
			<table class="ability-scores">
				<thead>
					<tr class="scores-header">
						<th class="score-name">{{localize 'DND4E.Ability'}}</th>
						<th class="score-value">{{localize 'DND4E.Score'}}</th>
						<th class="score-mod">{{localize 'DND4E.Mod'}}</th>
					{{#unless system.halfLevelOptions}}
						<th class="score-check">{{localize 'DND4E.Check'}}</th>
					{{/unless}}
					</tr>
				</thead>
				
				<tbody>
					{{#each system.abilities as |ability a|}}
					<tr class="attribute ability" data-ability="{{a}}">
						<td class="score-name ability-name rollable roll-d20" data-tooltip="{{localize 'DND4E.Roll'}} {{ability.label}} {{localize 'DND4E.Check'}}">{{ability.label}} <span class="score-short">{{ability.name}}</span></td>
						<td class="score-value"><input class="score" name="system.abilities.{{a}}.value" type="text" data-dtype="Number" value="{{ability.value}}" onfocus="this.select()" placeholder="10" /></td>
						<td class="score-mod" data-tooltip="{{ability.label}} {{localize 'DND4E.Mod'}}: {{numberFormat ability.mod decimals=0 sign=true}}">{{numberFormat ability.mod decimals=0 sign=true}}</td>
					{{#unless system.halfLevelOptions}}
						<td class="score-check" data-tooltip="{{ability.label}} {{localize 'DND4E.Mod'}} + {{localize 'DND4E.HalfLVL'}}: {{numberFormat ability.modHalf decimals=0 sign=true}}">{{numberFormat ability.modHalf decimals=0 sign=true}}</td>
					{{/unless}}
					</tr>
					{{/each}}
				</tbody>
				
			</table>
		</section><!--- End Ability Scores --->

		{{!-- Proficiencies --}}
		<section class="proficiencies infobox">
			<h3 class="attribute-name box-title">{{localize 'Fox4e.Proficiencies'}}</h3>

			<a class="trait-selector-weapon" data-options="weaponProf" data-target="system.details.weaponProf" data-tooltip="{{localize 'Fox4e.TipClickConfig'}}">
				<h4>{{localize 'DND4E.Weapon'}}/{{localize 'DND4E.WeaponImplement'}}</h4>
				<i class="fas fa-edit"></i>
			</a>
			{{#if (laden system.details.weaponProf.selected)}}
				<ul class="traits-list proficiency weapons">
				{{#each system.details.weaponProf.selected as |v k|}}
					<li class="tag {{k}}">{{v}}</li>
				{{/each}}
				</ul>
			{{/if}}
			
			<a class="trait-selector" data-options="profArmor" data-target="system.details.armourProf" data-tooltip="{{localize 'Fox4e.TipClickConfig'}}">
				<h4>{{localize 'DND4E.Armour'}}</h4>
				<i class="fas fa-edit"></i>
			</a>
			{{#if (laden system.details.armourProf.selected)}}
				<ul class="traits-list proficiency armour">
				{{#each system.details.armourProf.selected as |v k|}}
					<li class="tag {{k}}">{{v}}</li>
				{{/each}}
				</ul>
			{{/if}}
			
		</section>{{!-- End proficiencies --}}

		{{!-- Languages --}}
		<section class="languages infobox">
			<h3 class="attribute-name box-title">{{localize 'DND4E.Languages'}}</h3>
			
			<a class="trait-selector" data-options="spoken" data-target="system.languages.spoken" data-tooltip="{{localize 'Fox4e.TipClickConfig'}}">
				<h4>{{localize 'DND4E.Spoken'}}</h4>
				<i class="fas fa-edit"></i>
			</a>
			{{#if (laden system.languages.spoken.selected)}}
				<ul class="traits-list languages spoken">
				{{#each system.languages.spoken.selected as |v k|}}
					<li class="tag {{k}}">{{v}}</li>
				{{/each}}
				</ul>
			{{/if}}
			
			<a class="trait-selector" data-options="script" data-target="system.languages.script" data-tooltip="{{localize 'Fox4e.TipClickConfig'}}">
				<h4>{{ localize "DND4E.Script" }}</h4>
				<i class="fas fa-edit"></i>
			</a>
			{{#if (laden system.languages.script.selected)}}
				<ul class="traits-list languages script">
				{{#each system.languages.script.selected as |v k|}}
					<li class="tag {{k}}">{{v}}</li>
				{{/each}}
				</ul>	
			{{/if}}			
		</section>{{!-- End languages --}}
		
	</div>

	<div class="column">
		{{!-- Skills --}}
		<section class="section skills">
			<h3>{{localize 'DND4E.Skills'}}</h3>
			
			<table class="skills">
				<thead>
					<tr class="skills-header">
						<th class="skill-trained" data-tooltip="{{localize 'DND4E.Trained'}}"><img class="button-icon" src="modules/fox-4e-styling/images/skills_training.svg" height="12" width="12" /></th>
						<th class="skill-name">{{localize 'DND4E.Skill'}}</th>
						<th class="skill-ability">{{localize 'Fox4e.Stat'}}</th>
						<th class="skill-value">{{localize 'DND4E.Mod'}}</th>
					</tr>
				</thead>
				
				<tbody>
					{{#each system.skills as |skill s|}}
					<tr class="skill--block" data-skill="{{s}}">
						<td class="skill-trained"><a class="training-toggle skill-training" data-tooltip="{{skill.hover}} ({{localize 'Fox4e.TipClickCycle'}})">{{{skill.icon}}}</a><input type="hidden" name="system.skills.{{s}}.training" value="{{skill.training}}" data-dtype="Number"></td>
						<td class="skill-label" data-skill="{{s}}"><h4 class="skill-name rollable roll-d20" data-tooltip="{{localize 'DND4E.Roll'}} {{skill.label}} {{localize 'DND4E.Check'}}">{{skill.label}}</h4></td>
						<td class="skill-ability">{{skill.ability}}</td>
						<td class="skill-value" data-skill="{{s}}"><input type="hidden" name="system.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"> <a class="skill-mod skill-bonus rollable" data-tooltip="{{localize 'Fox4e.TipTotalMod'}} ({{localize 'Fox4e.TipClickConfig'}} {{localize 'Fox4e.ManualBonuses'}})">{{numberFormat skill.total decimals=0 sign=true }}</a></td>
					</tr>
					{{/each}}
				</tbody>
				
				<tfoot>
					<tr>
						<td colspan="4"><a class="custom-roll-descriptions" data-tooltip="{{localize 'DND4E.CheckDescsLong'}}">{{localize 'DND4E.CheckDescs'}}</a></td>
					</tr>
				</tfoot>
			</table>
			
		</section><!--- End Skills --->

	</div>

</div><!--- base colummns ---->