<h2>{{localize 'DND4E.Inventory'}}</h2>
<ol class="item-list gear">
{{#each sections as |section sid|}}

	<li class="item-group {{section.dataset.type}}{{#unless ../system.showAll.inventory}}{{#unless (laden section.items)}}  hidden{{/unless}}{{/unless}}">
		<div class="items-header flexrow">
			<h3 class="group-name">{{localize section.label}}</h3>

			{{#if section.columns}}
				{{#each section.columns}}
					<div class="item-detail {{css}}">{{label}}</div>
				{{/each}}
			{{else}}
				{{#if (eq section.dataset.type 'weapon')}}
					<div class="item-detail item-slot">{{localize "Fox4e.Hand"}}</div>
				{{/if}}
				
				{{#if (eq section.dataset.type 'equipment')}}
					<div class="item-detail item-slot">{{localize "Fox4e.Slot"}}</div>
				{{/if}}
				
				{{#unless (eq section.dataset.type 'loot')}}
					<div class="item-detail item-level">{{localize "Fox4e.LevelAbbr"}}</div>
				{{/unless}}
				
				{{#unless (eq section.dataset.type 'weapon')}}
				{{#unless (eq section.dataset.type 'equipment')}}
				<div class="item-detail item-quantity">{{localize "Fox4e.Qty"}}</div>
				{{/unless}}
				{{/unless}}
				
				{{#unless (eq section.dataset.type 'loot')}}
					<div class="item-detail item-uses">{{localize "DND4E.Charges"}}</div>
				{{/unless}}
				
				<div class="item-detail item-weight">{{localize "Fox4e.WeightAbbr"}}</div>
			{{/if}}

			{{#if ../owner}}
			<div class="item-controls">
				<a class="item-control item-create" data-tooltip="{{localize 'DND4E.ItemCreate'}}"
				   {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
					<i class="fas fa-plus"></i> {{localize "DND4E.Add"}}
				</a>
			</div>
			{{/if}}
		</div>

		<ol class="items-list">
		{{#each section.items as |item iid|}}
			<li class="item gear {{section.dataset.type}}{{#if hasUses}}{{#unless isDepleted}} not-available{{!-- I know what it looks like, but isDepleted returns the opposite of what its name implies! --}}{{/unless}}{{/if}}" data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
				<div class="flexrow item-header feature-header">
					<div class="item-image rollable roll-d20" data-tooltip="{{localize 'Fox4e.TipSendChat'}}">
						<img src="{{item.img}}" width="26" height="26" />
					</div>
					
					<div class="item-name rollable">
						{{#if section.editableName}}
							<input type="text" value="{{item.name}}">
						{{else}}
							<h4>{{item.name~}}</h4>
						{{/if}}
					</div>

				{{#if section.columns}}
				{{#each section.columns}}
					<div class="item-detail {{css}}">
						{{#with (foundry.utils.getProperty item property)}}
							{{#if ../editable}}
								<input type="text" value="{{this}}" placeholder="&mdash;"
									   data-dtype="{{../editable}}" data-property="{{../property}}">
							{{else}}
								{{this}}
							{{/if}}
						{{/with}}
					</div>
				{{/each}}
				{{else}}
					{{#if (eq section.dataset.type 'weapon')}}
						<div class="item-detail item-slot">{{wepHand item}}</div>
					{{/if}}
					
					{{#if (eq section.dataset.type 'equipment')}}
						<div class="item-detail item-slot">
							{{#if item.system.armour.type}}
							{{#if (eq item.system.armour.type 'other')}}
								{{localize 'Fox4e.Wondrous'}}{{else}}{{item.system.armour.type}}
							{{/if}}
							{{/if}}
						</div>
					{{/if}}

					<div class="item-detail item-level">
						{{#if item.system.level}}{{item.system.level}}{{/if}}
					</div>

					{{#unless (eq section.dataset.type 'weapon')}}
					{{#unless (eq section.dataset.type 'equipment')}}
						<div class="item-detail item-quantity">
							{{~#if item.isStack}}{{item.system.quantity}}{{/if}}
						</div>
					{{/unless}}
					{{/unless}}
					
					{{#unless (eq section.dataset.type 'loot')}}
						<div class="item-detail item-uses">
							{{#if item.hasUses }}
								<input type="text" value="{{item.system.uses.value}}" placeholder="0"/>
								/ {{item.system.preparedMaxUses}}
							{{/if}}
						</div>
					{{/unless}}
					
					<div class="item-detail item-weight">
						{{#if item.totalWeight}}{{item.totalWeightLable}}{{/if}}
					</div>
				{{/if}}

				{{#if ../../owner}}
					<div class="item-controls flexrow">
						{{#unless (eq section.dataset.type 'loot')}}
						{{#unless (eq section.dataset.type 'consumable')}}
						<a class="item-control item-toggle {{item.toggleClass}}" data-tooltip="{{item.toggleTitle}}"><i class="fas fa-shield-alt"></i></a>
						{{/unless}}
						{{/unless}}
						{{#unless section.editableName}}
						<a class="item-control item-edit" data-tooltip="{{localize "DND4E.ItemEdit"}}"><i class="fas fa-edit"></i></a>
						{{/unless}}
						<a class="item-control item-delete" data-tooltip="{{localize "DND4E.ItemDelete"}}"><i class="fas fa-trash"></i></a>
					</div>
				{{/if}}
				
				</div>
			</li>
		{{/each}}
		</ol>
	</li>
{{/each}}
</ol>

{{#with system.encumbrance}}
<section class="load">
	<div class="encumbrance {{#if encumbered}}encumbered{{/if}} encumbrance-options" data-tooltip="{{localize 'DND4E.EncumbranceTip'}}">
		<span class="encumbrance-bar" style="width:{{pbc}}%"></span>
		{{#if encumbered}}
			<span class="encumbrance-bar encumbered" style="width:{{pec}}%"></span>
		{{/if}}
		<span class="encumbrance-label">{{localize 'Fox4e.Load'}} {{value}} / {{max}} lbs.</span>
	</div>
</section>
{{/with}}

<section class="fungibles flexcol">
	<div class="currency flexrow">
		<h3>
			<span data-tooltip="{{currencyGoldSum}}">{{localize "DND4E.Currency"}}</span>
			<a class="currency-convert" data-tooltip="{{localize 'DND4E.CurrencyConvert'}}"><i class="fas fa-coins"></i></a>
		</h3>
		{{#each system.currency as |v k|}}
		<label class="denomination {{k}}" data-tooltip="{{ localize (lookup ../config.currencies k )}}" for="system.currency.{{k}}">{{k}}</label>
		<input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" data-tooltip="{{ localize (lookup ../config.currencies k )}}"/>
		{{/each}}
	</div>

	<div class="currency flexrow">
		<h3 data-tooltip="{{localize 'DND4E.RitualComp'}}">{{localize 'DND4E.RitualComp'}}</h3>
		{{#each system.ritualcomp as |v k|}}
		<label class="denomination {{k}}" data-tooltip="{{ localize (lookup ../config.ritualcomponents k )}}" for="system.ritualcomp.{{k}}">{{k}}</label>
		<input type="text" name="system.ritualcomp.{{k}}" value="{{v}}" data-dtype="Number" data-tooltip="{{ localize (lookup ../config.ritualcomponents k )}}"/>
		{{/each}}
	</div>
</section>

<section class="config">
	<div class="config-section-display">
		<label>{{localize 'Fox4e.ShowEmpty'}}</label>
		<input class="show-empty" type="checkbox" name="system.showAll.inventory" data-dtype="Boolean" {{checked system.showAll.inventory}} />
	</div>
</section>